<h2 i18n="page header|Roles or groups that users can have/belong to">Roles</h2>
<div class="list role-list">
  <div class="item add-new">
    <span class="role-id" i18n-title title="Name"><legend i18n>Name</legend>
      <input #role_id type="text" i18n-placeholder required placeholder="Name"></span>
    <span class="role-description" i18n-title title="Description"><legend i18n>Description</legend>
      <textarea #description i18n-placeholder placeholder="Description"></textarea>
    </span>
    <span class="buttons">
      <app-button action="create"
                  (press)="role_id.reportValidity() && createRow(role_id.value, description.value); role_id.value = description.value = '';" [processing]="creating"
                  i18n-title="Button title" title="Add new record"></app-button>
    </span>
  </div>
  
  <app-wait *ngIf="!rows"></app-wait>
  <div class="item" *ngFor="let role of rows">
    <span class="role-id" i18n-title title="Name"><legend i18n>Name</legend>
      {{role.role_id}}</span>
    <span class="role-description" i18n-title title="Description"><legend i18n>Description</legend>
      <textarea #description
                [(ngModel)]="role.description"
                (input)="onChange(role)"
                i18n-placeholder
                placeholder="Description"></textarea>
    </span>
    <span class="buttons">
      <app-link [routerLink]="['/admin','roles',role.role_id,'users']"
                i18n-title title="Members"
                img="people.svg" icon="👥"></app-link>
      <app-link [routerLink]="['/admin','roles',role.role_id,'permissions']"
                i18n-title title="Permissions"
                img="lock-locked.svg" icon="🔒"></app-link>
      <app-button action="delete"
                  disabled="{{role._cantDelete}}"
                  (press)="deleteRow(role);"  [processing]="role._deleting"
                  title="{{role._cantDelete}}"></app-button>
    </span>

  </div>
</div>
<div class="buttons">
  <app-button action="save"
              (press)="updateChangedRows();"  [processing]="updating > 0"
              *ngIf="changed"
              title="Save all changed records"></app-button>
</div>
