<h1>{{name}}</h1>

<p>{{status}} <span *ngIf="totalUtteranceDuration">(<span i18n>Total utterance duration:</span> {{totalUtteranceDuration | duration}})</span></p>

<lib-wait *ngIf="readingMatches"></lib-wait>
<form #form method="POST" id="frm" *ngIf="matches.length" target="_blank">
  <input type="hidden" name="threadId" value="{{threadId}}">
  <input type="hidden" name="generateLayerId" value="{{generateLayerId}}">
  <input type="hidden" name="annotationLayerId" value="{{annotationLayerId}}">
  <input type="hidden" name="tokenLayerId" value="{{tokenLayerId}}">
  <input type="hidden" name="collection_name" value="{{name}}">
  <input type="hidden" name="seriesId" value="{{task.seriesId}}">
  <input type="hidden" name="zeropad" value="{{zeroPad}}">
  <input #todo type="hidden" name="todo" value="">
  <div id="check-all-top">
    
    <label i18n-title title="Select all results including those not shown here">
      <input type="checkbox" [(checked)]="selectAll" (change)="all()">
      <span i18n="select all results">Select all results</span>
      ({{totalMatches}})
    </label>
    
    <label i18n-title title="How much context to show before/after match"
           for="words_context"
           i18n="KWIC context selector label"> Context: </label>
    <select [(ngModel)]="wordsContext" name="words_context" id="words_context"
            (change)="onChangeWordsContext()"
            i18n-title title="How much context to show before/after match">
      <option value="1"  i18n="words context option">1 word</option>
      <option value="5"  i18n="words context option">5 words</option>
      <option value="10" i18n="words context option">10 words</option>
      <option value="20" i18n="words context option">20 words</option>
      <option value="-1" i18n="words context option">the whole line</option>
      <option value="0"  i18n="words context option">no context</option>
    </select>
    
  </div>
  <div id="matches">
    <ng-container class="match" *ngFor="let match of matches; let m = index;">

      <div class="transcript-change" *ngIf="m == 0 || match.Transcript != matches[m-1].Transcript">
        <span class="match-transcript">{{match.Transcript}}</span>
        <span class="match-participant">{{match.Participant}}</span>
      </div>

      <div class="match-number">
        {{matches.indexOf(match) + 1}}.
      </div>
      <div class="match-id">
        <lib-grouped-checkbox
          group="match"
          i18n-title title="To select individual results, untick 'select all N results'"
          name="utterance"
          value="{{match.MatchId}}"
          [checked]="match._selected" (checkedChange)="match._selected = !match._selected"
          [disabled]="selectAll"></lib-grouped-checkbox>
      </div>
      <div class="preceding-context match-transcript">
        {{match.BeforeMatch}}
      </div>
      <div class="match-text match-transcript">
        <a href="{{transcriptUrl}}?transcript={{match.Transcript | urlEncode}}&amp;threadId={{threadId}}#{{matchHash(match)}}"
          i18n-title title="Open transcript"
          target="{{match.Transcript}}">
          {{match.Text}}
        </a>
      </div>
      <div class="following-context match-transcript">{{match.AfterMatch}}</div>
    </ng-container>
  </div>
  <div id="matches-footer">
      <span class="match-count">{{matches.length}} results shown</span>
      <lib-button (press)="moreMatches()" [processing]="moreLoading"
                  [disabled]="totalMatches - matches.length <= 0"
                  i18n-title title="Show more results"
                  label="{{min(pageLength, totalMatches - matches.length)}} More Matches"
                  img="down-triangle.png" icon="▼"
                  >
      </lib-button>
      <lib-button (press)="allMatches()" [processing]="allLoading"
                  [disabled]="totalMatches - matches.length <= 0"
                  i18n-title title="Show all results"
                  label="{{totalMatches - matches.length}} Remaining Matches"
                  img="down-double-triangle.png" icon="⏬"
                  >
      </lib-button>
    </div>
  <div id="check-all-bottom">
    <label i18n-title title="Select all results including those not shown here">
      <input type="checkbox" [(checked)]="selectAll" (change)="all()">
      <span i18n="select all results">Select all results</span>
      ({{totalMatches}})
    </label>
  </div>
  <div id="csv-export" class="controls">
    <lib-button (press)="exportCsv();" id="csv-export-btn"
                img="csv.svg" icon=",a,"
                i18n-title title="Export results to CSV"
                i18n-label label="CSV Export"></lib-button>
    <lib-button (press)="csvOptions();"
                img="down-triangle.png" icon="▼"
                i18n-title title="CSV export options"
                ></lib-button>
  </div>
  <div id="csv-export-options" class="{{showCsvOptions?'unhidden-panel':'hidden-panel'}}">
    <fieldset>
      <legend i18n>CSV Columns</legend>
      <div class="csv-checkboxes">
        <div class="csv-options">
          <div i18n="csv options title" class="header">Fields:</div>
          <label i18n-title title="Identifier for this search">
            <input type="checkbox" name="csv_option" value="collection_name" checked>
            <span i18n="csv options">Search name</span>
          </label>
          <label i18n-title title="Result number">
            <input type="checkbox" name="csv_option" value="result_number" checked>
            <span i18n="csv options">Number</span>
          </label>
          <label i18n-title title="Start time of the transcript relative to the beginning of the whole series">
            <input type="checkbox" name="csv_option" value="series_offset">
            <span i18n="csv options">Series offset</span>
          </label>
          <label i18n-title title="End time of the transcript relative to the beginning of the whole series">
            <input type="checkbox" name="csv_option" value="series_length">
            <span i18n="csv options">Series length</span>
          </label>
          <label i18n-title title="Start time of the utterance relative to the beginning of the transcript">
            <input type="checkbox" name="csv_option" value="line_time" checked>
            <span i18n="csv options">Line</span>
          </label>
          <label i18n-title title="End time of the utterance relative to the beginning of the transcript">
            <input type="checkbox" name="csv_option" value="line_end_time" checked>
            <span i18n="csv options">Line end</span>
          </label>
          <label i18n-title title="Unique identifier for the match">
            <input type="checkbox" name="csv_option" value="match" checked>
            <span i18n="csv options">Match ID</span>
          </label>
          <label i18n-title title="URL for the match">
            <input type="checkbox" name="csv_option" value="word_url" checked>
            <span i18n="csv options">URL</span>
          </label>
          <label i18n-title title="The transcription of the match and its surrounding context">
            <input type="checkbox" name="csv_option" value="result_text" checked>
            <span i18n="csv options">Text</span>
          </label>
        </div>
        <lib-layer-checkboxes
          name="csv_layer"
          includeCounts="true" includeAnchorSharing="true"
          participant="true" transcript="true"
          span="true" phrase="true" word="true" segment="true"
          excludeMainParticipant="true" excludeTurn="true" excludeUtterance="true"
          selected="{{selectedLayers}}"></lib-layer-checkboxes>
      </div>
    </fieldset>
  </div>
  <div id="emu-webapp" class="controls" *ngIf="emuWebApp">
    <lib-button (press)="emuWebapp();"
                img="emu.png" icon="eμ"
                i18n-label label="EMU WebApp"></lib-button>
    <lib-button (press)="emuOptions();"
                img="down-triangle.png" icon="▼"
                i18n-title title="EMU WebApp options"
                ></lib-button>
  </div>
  <div id="emu-options" class="{{showEmuOptions?'unhidden-panel':'hidden-panel'}}">
    <fieldset>
    <legend i18n>EMU WebApp Tiers</legend>
      <lib-layer-checkboxes name="emu_layer"
                            word="true" segment="true"
                            selected="{{emuLayers}}"></lib-layer-checkboxes>
    </fieldset>
  </div>
  <div id="dictionary" class="controls">
    <lib-button (press)="dictionary();"
                img="book.svg" icon="📕"
                i18n-label label="Dictionary"></lib-button>
    <select name="layer_id"
            i18n-title title="Layer for definitions of dictionary entries">
      <option disabled i18n selected>Definition Layer</option>
      <option *ngFor="let layer of wordLayers"
              value="{{layer.layer_id}}">
        <ng-container *ngIf="layer.id != 'orthography'">{{layer.id}}</ng-container>
        <ng-container *ngIf="layer.id == 'orthography'" i18n>[word list only]</ng-container>
      </option>
    </select>
  </div>
  <div id="serialize" class="controls">
    <lib-button (press)="serialize();"
                img="{{serializeImg}}" icon="📦"
                i18n-label label="Utterance Export"></lib-button>
    <lib-button (press)="serializationOptions();"
                img="down-triangle.png" icon="▼"
                i18n-title title="Utterance Export options"
                ></lib-button>
  </div>
  <div id="serialization-options" class="{{showSerializationOptions?'unhidden-panel':'hidden-panel'}}">
    <label>
      <span i18n>Export format</span>
      <select #mimetype name="mimetype"
              [(ngModel)]="mimeType"
              (change)="onChangeMimeType()"
              i18n-title title="Export format">
        <option *ngFor="let serializer of serializers"
                value="{{serializer.mimeType}}">{{serializer.name}}</option>
      </select>
    </label>
    <fieldset>
    <legend i18n>Layers to export</legend>
      <lib-layer-checkboxes name="layerIds"
                            word="true" segment="true" phrase="true" excludeTurn="true"
                            selected="{{serializationLayers}}"></lib-layer-checkboxes>
    </fieldset>
  </div>
  <div id="export-audio" class="controls">
    <lib-button (press)="exportAudio();"
                img="audio.svg" icon="🔊"
                i18n-label label="Audio Export"></lib-button>
  </div>
  <div id="generate-layers" class="controls" *ngIf="user.roles.includes('edit') && htkLayer">
    <input #generate_layer type="hidden" name="generate_layer" value="">
    <lib-button (press)="runAnnotator(htkLayer.id);"
                img="cog.svg" icon="⚙"
                i18n-title title="Generate"
                label="{{htkLayer.id}}"></lib-button>
  </div>
  <lib-keep-alive threadId="{{threadId}}"></lib-keep-alive>
</form>
