<h2 id="title" i18n="page header" *ngIf="scope == 'transcript'">Define Transcript Attributes</h2>
<h2 id="title" i18n="page header" *ngIf="scope == 'participant'">Define Participant Attributes</h2>

<div class="layer-list">
  <span class="attribute-id" i18n-title="Attribute ID" title="ID"><legend i18n>ID</legend>
    <input #name
           type="text" required i18n-placeholder placeholder="Attribute ID"
           [(ngModel)]="newAttributeId"></span>
  <span class="layer-type" i18n-title="Type of data in labels" title="Label Type"><legend i18n="Type of data in labels">Type</legend>
    <select #labelType required>
      <option disabled selected value="" i18n="Label type label">Type</option>
      <option value="string" i18n="Label type option">String</option>
      <option value="integer" i18n="Label type option">Integer</option>
      <option value="number" i18n="Label type option">Number</option>
      <option value="select" i18n="Label type option">Select</option>
      <option value="date" i18n="Label type option">Date</option>
      <option value="time" i18n="Label type option">Time</option>
      <option value="datetime" i18n="Label type option">Date/Time</option>
      <option value="boolean" i18n="Label type option">Boolean</option>
      <option value="text" i18n="Label type option">Text</option>
      <option value="readonly" i18n="Label type option">Read-Only</option>
      <option value="email" i18n="Label type option">Email</option>
      <option value="url" i18n="Label type option">URL</option>      
    </select>
  </span>
  <span class="layer-label" i18n-title="Layer Label" title="Label"><legend i18n="Label label">Label</legend>
    <input #label
           type="text" required i18n-placeholder placeholder="Layer Label"></span>
  <span class="layer-access" i18n-access title="Access"><legend i18n>Access</legend>
    <select #access required>
      <option disabled selected value="" i18n="Access label">Access</option>
      <option value="0" i18n="Access Private">Private</option>
      <option value="1" i18n="Access Public">Public</option>
    </select>
  </span>
  <span class="layer-searchable"
        i18n-title title="Whether the attribute can be used as a list filter"><legend i18n="Attribute is a filter">Searchable</legend>
    <select #searchable
            [(ngModel)]="searchabilityFilter">
      <option selected value="" i18n="Searchable label">Searchability</option>
      <option value="0" i18n="Not Searchable option">Not Searchable</option>
      <option value="1" i18n="Searchable option">Searchable</option>
    </select>
    <img src="{{imagesLocation+'/filter.svg'}}" i18n-alt alt="Filter"
         i18n-title title="Filter the list"
         [className]="newAttributeId?'no-filter':'filter'">
  </span>
  <span class="layer-category" i18n-title title="Category"><legend i18n>Category</legend>
    <select #category
            [(ngModel)]="categoryFilter">
      <option selected value="" i18n="Category label">Category</option>
      <option *ngFor="let category of categories" value="{{category.category}}">{{category.label}}</option>
    </select>
    <img src="{{imagesLocation+'/filter.svg'}}" i18n-alt alt="Filter"
         i18n-title title="Filter the list"
         [className]="newAttributeId?'no-filter':'filter'">
  </span>
  <span class="buttons">
    <lib-button action="create" [processing]="creating"
                (press)="name.reportValidity() && labelType.reportValidity() && createRow(name.value, labelType.value, label.value || name.value, access.value, searchable.value, category.value, description.value) && !(name.value = label.value = description.value = '') && !(labelType.selectedIndex = access.selectedIndex = searchable.selectedIndex = category.selectedIndex = 0);"
                i18n-title title="Add new record"></lib-button>
  </span>
  <span class="layer-description new-layer" i18n-title title="Description"><legend i18n>Description</legend>
    <textarea #description
              i18n-placeholder placeholder="Description"
              [className]="newAttributeId?'show-description':'hide-description'"></textarea>
  </span>

  <lib-wait *ngIf="!rows"></lib-wait>
  <ng-container class="item" *ngFor="let layer of rows; index as r;">
    <ng-container *ngIf="newAttributeId || (!categoryFilter || layer.category == categoryFilter) && (!searchabilityFilter || layer.searchable == searchabilityFilter)">
      <span class="attribute-id" i18n-title="Attribute ID" title="ID"><legend i18n>ID</legend>
        {{layer.attribute}}</span>
      <span class="layer-type" i18n-title="Type of data in labels" title="Label Type"><legend i18n="Type of data in labels">Type</legend>
        <select #labelType
                [(ngModel)]="layer.subtype"
                (input)="onChange(layer)">
          <option value="string" i18n="Label type option">String</option>
          <option value="integer" i18n="Label type option">Integer</option>
          <option value="number" i18n="Label type option">Number</option>
          <option value="select" i18n="Label type option">Select</option>
          <option value="date" i18n="Label type option">Date</option>
          <option value="time" i18n="Label type option">Time</option>
          <option value="datetime" i18n="Label type option">Date/Time</option>
          <option value="boolean" i18n="Label type option">Boolean</option>
          <option value="text" i18n="Label type option">Text</option>
          <option value="readonly" i18n="Label type option">Read-Only</option>
          <option value="email" i18n="Label type option">Email</option>
          <option value="url" i18n="Label type option">URL</option>      
        </select>
      </span>
      <span class="layer-label" i18n-title="Attribute Label" title="Label"><legend i18n>Label</legend>
        <input [(ngModel)]="layer.description"
               (input)="onChange(layer)"
               type="text" required i18n-placeholder placeholder="Layer Label"></span>
      <span class="layer-access" i18n-access title="Access"><legend i18n>Access</legend>
        <select [(ngModel)]="layer.access"
                (input)="onChange(layer)">
          <option value="0" i18n="Access Private">Private</option>
          <option value="1" i18n="Access Public">Public</option>
        </select>
      </span>
      <span class="layer-searchable"
            i18n-title title="Whether the attribute can be used as a list filter"><legend i18n>Searchable</legend>
        <select [(ngModel)]="layer.searchable"
                (input)="onChange(layer)">
          <option selected value="" i18n="Searchable label">Searchability</option>
          <option value="0" i18n="Not Searchable option">Not Searchable</option>
          <option value="1" i18n="Searchable option">Searchable</option>
        </select>
      </span>
      <span class="layer-category" i18n-title title="Category"><legend i18n>Category</legend>
        <select #category
                [(ngModel)]="layer.category"
                (input)="onChange(layer)">
          <option *ngFor="let category of categories" value="{{category.category}}">{{category.label}}</option>
        </select>
      </span>
      <span class="buttons">
        
        <lib-link *ngIf="layer.subtype == 'select'"
                  i18n-title title="Valid labels"
                  img="tag.svg" icon="🏷"
                  class="valid-labels"
                  href="admin/layers/validLabels?layerId={{layer.id}}"></lib-link>
        <lib-button  action="delete" [processing]="layer._deleting"
                     disabled="{{layer._cantDelete}}"
                     (press)="deleteRow(layer);"
                     class="delete"
                     title="{{layer._cantDelete}}"></lib-button>
        <lib-button img="up.svg" icon="↑"
                    (press)="move('up', layer);"
                    [disabled]="r == 0"
                    class="move-up"
                    i18n-title title="Move up"></lib-button>
        <lib-button img="down.svg" icon="↓"
                    (press)="move('down', layer);"
                    [disabled]="r >= rows.length -1"
                    class="move-down"
                    i18n-title title="Move down"></lib-button>
      </span>
      <span class="layer-style" i18n-title title="Style"><legend i18n>Style</legend>
        <div *ngIf="!layer.subtype.startsWith('date') && layer.subtype != 'readonly' && layer.subtype != 'select' && layer.subtype != 'boolean'" class="min-max">
          <input type="number"
                 [(ngModel)]="layer.size"
                 (input)="onChange(layer)"
                 i18n-title title="Size of box"
                 i18n-placeholder placeholder="Size"
                 step="1">
        </div>
        <div *ngIf="layer.subtype == 'number' || layer.subtype == 'integer' || layer.subtype.startsWith('date')" class="min-max">
          <input type="number"
                 [(ngModel)]="layer.min"
                 (input)="onChange(layer)"
                 i18n-title title="Minimum allowed value"
                 i18n-placeholder placeholder="Min"
                 step="{{layer.subtype == 'number'?0.01:1}}">
          -
          <input type="number"
                 [(ngModel)]="layer.max"
                 (input)="onChange(layer)"
                 i18n-title title="Maximum allowed value"
                 i18n-placeholder placeholder="Max"
                 step="{{layer.subtype == 'number'?0.01:1}}" >
          <label *ngIf="layer.subtype == 'number' || layer.subtype == 'integer'"
                 class="slider"><input type="checkbox"
                                       [(ngModel)]="layer.slider"
                                       (input)="onChange(layer)"
                                       i18n-title title="User selects by moving a slide control"><span i18n>Slider</span></label>
        </div>
        <div *ngIf="layer.slider && (layer.subtype == 'number' || layer.subtype == 'integer')" class="min-max-labels">
          <input type="text"
                 [(ngModel)]="layer.minLabel"
                 (input)="onChange(layer)"
                 i18n-title title="Label for minimum end of the slider"
                 i18n-placeholder placeholder="Min Label" >
          -
          <input type="text"
                 [(ngModel)]="layer.maxLabel"
                 (input)="onChange(layer)"
                 i18n-title title="Label for maximum end of the slider"
                 i18n-placeholder placeholder="Max Label" >
        </div>
        <div *ngIf="layer.subtype == 'select'" class="other">
          <label i18n-title title="Whether the user can enter a value other than the predetermined labels">
            <input type="checkbox"
                   [(ngModel)]="layer.other"
                   (input)="onChange(layer)"><span i18n>Other</span></label>
        </div>
        <div *ngIf="layer.subtype == 'select'" class="multiple">
          <label i18n-title title="Whether the user can select more than one label">
            <input type="checkbox"
                   [(ngModel)]="layer.multiple"
                   (input)="onChange(layer)"><span i18n>Multiple</span></label>
        </div>
        <div *ngIf="layer.subtype == 'select' || layer.subtype == 'boolean'" class="radio">
          <label i18n-title title="Whether it's a list buttons to check, or a dropdown list">
            <input type="checkbox"
                   [(ngModel)]="layer.radio"
                   (input)="onChange(layer)"
                   ><span *ngIf="layer.subtype == 'boolean' || !layer.multiple" i18n>Radio-buttons</span><span *ngIf="layer.subtype != 'boolean' && layer.multiple" i18n>Check-boxes</span></label>
        </div>
      </span><!-- style -->
      <span class="layer-description" i18n-title title="Description"><legend i18n>Description</legend>
        <textarea #description
                  [(ngModel)]="layer.hint"
                  (input)="onChange(layer)"
                  i18n-placeholder placeholder="Description"></textarea>
      </span>
      
    </ng-container>
  </ng-container>
</div>
<div class="buttons">
  <lib-link [routerLink]="['../../categories',scope]"
            img="wrench.svg" icon="🔧"
            i18n-label label="Categories"
            i18n-title title="Edit list of possible categories for these attributes"></lib-link>
  <lib-button action="save" [processing]="updating > 0"
              (press)="updateChangedRows();"
              *ngIf="changed"
              i18n-title title="Save all changed records"></lib-button>
</div>
