<ul *ngIf="visible">
  <li id="menu-admin-transcript-types"> <!-- TODO reroute this to admin/layers/transcript_type/validLabels -->
    <a [routerLink]="['admin','transcriptTypes']"
       i18n-title="menu title" title="View, create, and edit transcript categories"
       i18n="menu label">Transcript Types</a> </li>
  <li id="menu-admin-layers-segment">
    <a [routerLink]="['admin','layers','segment']"
       i18n-title="menu title" title="View, create, and edit segment layers"
       i18n="menu label">Segment Layers</a> </li>
  <li id="menu-admin-layers-word">
    <a [routerLink]="['admin','layers','word']"
       i18n-title="menu title" title="View, create, and edit word layers"
       i18n="menu label">Word Layers</a> </li>
  <li id="menu-admin-layers-phrase">
    <a [routerLink]="['admin','layers','phrase']"
       i18n-title="menu title" title="View, create, and edit phrase layers"
       i18n="menu label">Phrase Layers</a> </li>
  <li id="menu-admin-layers-span">
    <a [routerLink]="['admin','layers','span']"
       i18n-title="menu title" title="View, create, and edit span layers"
       i18n="menu label">Span Layers</a> </li>
  <li id="menu-admin-attrbutes-transcript">
    <a [routerLink]="['admin','attributes','transcript']"
       i18n-title="menu title" title="View, create, and edit transcript attributes"
       i18n="menu label">Transcript Attributes</a> </li>
  <li id="menu-admin-attrbutes-participant">
    <a [routerLink]="['admin','attributes','participant']"
       i18n-title="menu title" title="View, create, and edit participant attributes"
       i18n="menu label">Participant Attributes</a> </li>
  <li id="menu-admin-corpora">
    <a [routerLink]="['admin','corpora']"
       i18n-title="menu title" title="View, create, and edit corpora"
       i18n="menu label">Corpora</a> </li>
  <li id="menu-admin-projects">
    <a [routerLink]="['admin','projects']"
       i18n-title="menu title" title="View, create, and edit projects"
       i18n="menu label">Projects</a> </li>
  <li id="menu-admin-tracks">
    <a [routerLink]="['admin','tracks']"
       i18n-title="menu title" title="View, create, and edit media tracks"
       i18n="menu label">Media Tracks</a> </li>
  <li id="menu-admin-users">
    <a [routerLink]="['admin','users']"
       i18n-title="menu title" title="View, create, and edit users"
       i18n="menu label">Users</a> </li>
  <li id="menu-admin-roles">
    <a [routerLink]="['admin','roles']"
       i18n-title="menu title" title="View, create, and edit user roles"
       i18n="menu label">User Roles</a> </li>
  <li id="menu-admin-system-attributes">
    <a [routerLink]="['admin','attributes']"
       i18n-title="menu title" title="View and edit system attributes"
       i18n="menu label">System Attributes</a> </li>
  <li id="menu-admin-annotators">
    <a [routerLink]="['admin','annotators']"
       i18n-title="menu title" title="View, install, and uninstall annotator modules"
       i18n="menu label">Annotators</a> </li>
</ul>
