h1 {
    margin-bottom: 0px; /* to make space for the spinner */
}
table {
    width: 100%;
}
#spinner {
    text-align: center;
    height: 20px;
}
td.participant {
    white-space: nowrap;
    max-width: 200px;
}
tbody td.participant {
    overflow: hidden;
}
tbody td:not(.participant) {
    text-align: center;
}
span.attribute {
    display: block;
    max-height: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}
#query-description {
    white-space: nowrap;
    overflow: clip;
    font-style: italic;
}
