<h1 id="title" i18n>Participants</h1>
<div id="spinner"><lib-wait *ngIf="loadingList || listParticipantsTimer >= 0"></lib-wait></div>
<div class="participants">
  
  <table>
    <caption *ngIf="matchCount >= 0">
      <span i18n="Match count: {n}">Match count:</span>&nbsp;<span id="matchCount">{{matchCount}}</span>
     <span id="query-description" *ngIf="queryDescription" title="{{queryDescription}}"> - {{queryDescription}} </span>
     </caption>
    <thead>
      <tr class="filters">
        <td *ngFor="let layer of filterLayers" class="{{layer.id}}">
          <lib-layer-filter            
            [layer]="layer"
            [values]="filterValues[layer.id]"
            (changeValues)="filterChange(layer, $event)"
            (enterKey)="enterKeyPressed()"
            ></lib-layer-filter>
        </td>
        <td class="controls">
          <lib-button
            img="delete.svg" icon="⌫"
            (press)="clearFilters()"
            i18n-title title="Clear selected filters"
            ></lib-button>
          <lib-button
            *ngIf="(!user || user.roles.includes('admin')) && !nextPage"
            img="filter.svg" icon="👥"
            (press)="setDefaultFilter()"
            i18n-title title="Set this as the default filter for all users"
            ></lib-button>
        </td>
      </tr><!-- Select from file -->
      <tr class="controls">
        <td colSpan="{{filterLayers.length}}">          
          <lib-button
            *ngIf="user && user.roles.includes('edit') && !nextPage"
            action="delete"
            (press)="deleteParticipants()" [processing]="deleting"
            [disabled]="selectedIds.length == 0"
            i18n-title title="Delete record"
            ></lib-button>
          <lib-button
            *ngIf="user && user.roles.includes('edit') && !nextPage"
            (press)="mergeParticipants()"
            [disabled]="selectedIds.length < 2"
            img="people.svg" icon="👥"
            i18n-label label="Merge"
            i18n-title title="Merge selected participant records into one record"
            ></lib-button>
          <lib-button
            *ngIf="!nextPage"
            (press)="allUtterances()"
            [disabled]="selectedIds.length == 0"
            img="all-utterances.svg" icon="“"
            i18n-label label="All Utterances"
            i18n-title title="List all utterances by these participants"
            ></lib-button>
          <lib-button
            *ngIf="!nextPage"
            (press)="exportAttributes()"
            [disabled]="!participantIds || participantIds.length == 0"
            img="csv.svg" icon=",a,"
            i18n-label label="Export Attributes"
            i18n-title title="Export attributes to CSV"
            ></lib-button>
          <lib-button
            *ngIf="!nextPage"
            (press)="transcripts()"
            [disabled]="!participantIds || participantIds.length == 0 || ((filterValues['--transcript-count'][0] || filterValues['--transcript-count'][1]) && selectedIds.length == 0)"
            img="document.svg" icon="📄"
            i18n-label label="Transcripts"
            i18n-title title="List transcripts including these participants"
            ></lib-button>
          <lib-button
            *ngIf="!nextPage || nextPage == 'search'"
            (press)="layeredSearch()"
            [disabled]="!participantIds || participantIds.length == 0"
            img="magnifying-glass.svg" icon="🔍"
            i18n-label label="Layered Search"
            i18n-title title="Search transcripts including these participants"
            ></lib-button>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let id of participantIds">
        <td *ngFor="let layer of filterLayers" class="{{layer.id}}">
          <span class="id" *ngIf="layer.id == schema.participantLayerId">
            <lib-grouped-checkbox
              group="participant"
              name="id"
              value="{{id}}"
              [checked]="selectedIds.includes(id)"
              (checkedChange)="selectedIds.includes(id)?selectedIds.splice(selectedIds.indexOf(id),1):selectedIds.push(id)"></lib-grouped-checkbox>
            <a href="{{(user && user.roles.includes('edit'))?'edit/':''}}participant?id={{id | urlEncode}}" title="{{id}}">{{id}}</a>
          </span>
          <span class="attribute" *ngIf="layer.id != schema.participantLayerId && attributeValues[id].annotations">

            <span class="value" *ngFor="let annotation of attributeValues[id].annotations[layer.id]" title="{{layer.id}}: {{annotation.label}}">
              <span class="{{layer.subtype}}"
                    *ngIf="layer.subtype != 'datetime' && layer.subtype != 'date'">
                {{annotation.label}}</span>
              <span class="{{layer.subtype}}"
                    *ngIf="layer.subtype == 'date'"
                    title="{{annotation.label | date : 'fullDate' }}">
                {{annotation.label}}</span>
              <span class="{{layer.subtype}}"
                    *ngIf="layer.subtype == 'datetime'"
                    title="{{annotation.label | date : 'full' }}">
                {{annotation.label}}</span>
            </span>
          </span>
        </td>
        <td></td><!-- column for filter buttons -->
      </tr>
    </tbody>
  </table>
</div>
<lib-pagination
  i18n-title title="Page links"
  [currentPage]="p"
  [pageLinks]="pageLinks"
  (goToPage)="goToPage($event)"
  (showAllPages)="listAll()"></lib-pagination>
<div class="buttons">
  <lib-button
    *ngIf="user && user.roles.includes('edit') && !nextPage"
    action="create"
    (press)="newParticipant()"
    i18n-title title="New record"
    ></lib-button>
  <lib-link
    *ngIf="user && user.roles.includes('edit') && !nextPage"
    href="{{baseUrl}}edit/participants/upload"
    img="wrench.svg" icon="🔧"
    i18n-label label="Upload Participant Data"
    i18n-title title="Import participant data from a CSV file"></lib-link>
</div>
