<h1>LaBB-CAT</h1>

<p>&hellip; was developed at the
  <a href="https://www.canterbury.ac.nz/nzilbb/" target="NZILBB">
    New Zealand Institute of Language, Brain and Behaviour</a>
</p>
<p>&hellip; and is free software distributed under the terms of the <!-- TODO i18n -->
  <a href="https://github.com/nzilbb/digit-triplets-test/blob/master/LICENSE" target="github">
    GNU Affero General Public Licence</a>;
  The source code is available
  <a href="https://github.com/nzilbb/labbcat-server" target="github">here</a>
</p>

