<h1 i18n="about page header">LaBB-CAT</h1>

<p>&hellip; <span i18n="[LaBB-CAT]... was developed at the ...[NZILBB]">was developed at</span>
  &nbsp;
  <a href="https://www.canterbury.ac.nz/nzilbb/" target="NZILBB" i18n="developer name|NZILBB">
    the New Zealand Institute of Language, Brain and Behaviour</a>
</p>
<p>&hellip;
  <span
    i18n="[LaBB-CAT was developed at NZILBB] and is FOSS dist. under terms of the [AGPL]">
    and is free software distributed under the terms of the</span> <!-- TODO i18n -->
  &nbsp;
  <a href="https://github.com/nzilbb/digit-triplets-test/blob/master/LICENSE" target="github"
     i18n="Name of the AGPL">
    GNU Affero General Public Licence</a>;
  <span i18n="The source code is available ... [here]">The source code is available</span>
  &nbsp;
  <a href="https://github.com/nzilbb/labbcat-server" target="github"
     i18n="[The source code is available] ... here">here</a>
</p>

