<h1>{{name}}</h1>

<p>{{status}}</p>

<app-wait *ngIf="readingMatches"></app-wait>
<form #form method="POST" id="frm" *ngIf="matches.length">
  <input type="hidden" name="threadId" value="{{threadId}}">
  <input type="hidden" name="collection_name" value="{{name}}">
  <input type="hidden" name="zeropad" value="{{zeroPad}}">
  <input #todo type="hidden" name="todo" value="">
  <div id="check-all-top">
    
    <label i18n-title title="Select all results including those not shown here">
      <input type="checkbox" [(checked)]="selectAll" (change)="all()">
      <span i18n="select all results">Select all results</span>
      ({{totalMatches}})
    </label>
    
    <label i18n-title title="How much context to show before/after match"
           for="words_context"
           i18n="KWIC context selector label"> Context: </label>
    <select [(ngModel)]="wordsContext" name="words_context" id="words_context"
            (change)="onChangeWordsContext()"
            i18n-title title="How much context to show before/after match">
      <option value="1"  i18n="words context option">1 word</option>
      <option value="5"  i18n="words context option">5 words</option>
      <option value="10" i18n="words context option">10 words</option>
      <option value="20" i18n="words context option">20 words</option>
      <option value="-1" i18n="words context option">the whole line</option>
      <option value="0"  i18n="words context option">no context</option>
    </select>
    
  </div>
  <div id="matches">
    <ng-container class="match" *ngFor="let match of matches; let m = index;">

      <div class="transcript-change" *ngIf="m == 0 || match.Transcript != matches[m-1].Transcript">
        <span class="match-transcript">{{match.Transcript}}</span>
        <span class="match-participant">{{match.Participant}}</span>
      </div>

      <div class="match-number">
        {{matches.indexOf(match) + 1}}.
      </div>
      <div class="match-id"><!-- TODO shift-click -->
        <app-grouped-checkbox
          group="match"
          i18n-title title="To select individual results, untick 'select all N results'"
          name="utterance"
          value="{{match.MatchId}}"
          [checked]="match._selected" (checkedChange)="match._selected = !match._selected"
          [disabled]="selectAll"></app-grouped-checkbox>
      </div>
      <div class="preceding-context match-transcript">
        {{match.BeforeMatch}}
      </div>
      <div class="match-text match-transcript">
        <a href="{{transcriptUrl}}?transcript={{match.Transcript}}&amp;threadId={{threadId}}#{{matchHash(match)}}"
          i18n-title title="Open transcript"
          target="{{match.Transcript}}">
          {{match.Text}}
        </a>
      </div>
      <div class="following-context match-transcript">{{match.AfterMatch}}</div>
    </ng-container>
  </div>
  <div id="matches-footer">
      <span class="match-count">{{matches.length}} results shown</span>
      <app-button (press)="moreMatches()" [processing]="moreLoading"
                  [disabled]="totalMatches - matches.length <= 0"
                  i18n-title title="Show more results"
                  label="{{min(pageLength, totalMatches - matches.length)}} More Matches"
                  img="down-triangle.png" icon="▼"
                  >
      </app-button>
      <app-button (press)="allMatches()" [processing]="allLoading"
                  [disabled]="totalMatches - matches.length <= 0"
                  i18n-title title="Show all results"
                  label="{{totalMatches - matches.length}} Remaining Matches"
                  img="down-double-triangle.png" icon="⏬"
                  >
      </app-button>
    </div>
  <div id="check-all-bottom">
    <label i18n-title title="Select all results including those not shown here">
      <input type="checkbox" [(checked)]="selectAll" (change)="all()">
      <span i18n="select all results">Select all results</span>
      ({{totalMatches}})
    </label>
  </div>
  <div id="csv-export" class="controls">
    <app-button (press)="exportCsv();" id="csv-export-btn"
                img="csv.png" icon=",a,"
                i18n-title title="Export results to CSV"
                i18n-label label="CSV Export"></app-button>
    <app-button (press)="csvOptions();"
                img="down-triangle.png" icon="▼"
                i18n-title title="CSV export options"
                ></app-button>
  </div>
  <div id="csv-export-options" class="{{showCsvOptions?'unhidden-panel':'hidden-panel'}}">
    <fieldset>
      <legend i18n>CSV Columns</legend>
      <div class="csv-checkboxes">
        <div class="csv-options">
          <div i18n="csv options title" class="header">Fields:</div>
          <label i18n="csv options"
                 i18n-title title="Identifier for this search">
            <input type="checkbox" name="csv_option" value="collection_name" checked>
            Search name
          </label>
          <label i18n="csv options"
                 i18n-title title="Result number">
            <input type="checkbox" name="csv_option" value="result_number" checked>
            Number
          </label>
          <label i18n="csv options"
                 i18n-title title="Start time of the transcript relative to the beginning of the whole series">
            <input type="checkbox" name="csv_option" value="series_offset">
            Series offset
          </label>
          <label i18n="csv options"
                 i18n-title title="End time of the transcript relative to the beginning of the whole series">
            <input type="checkbox" name="csv_option" value="series_length">
            Series length
          </label>
          <label i18n="csv options"
                 i18n-title title="Start time of the utterance relative to the beginning of the transcript">
            <input type="checkbox" name="csv_option" value="line_time" checked>
            Line
          </label>
          <label i18n="csv options"
                 i18n-title title="End time of the utterance relative to the beginning of the transcript">
            <input type="checkbox" name="csv_option" value="line_end_time" checked>
            Line end
          </label>
          <label i18n="csv options"
                 i18n-title title="Unique identifier for the match">
            <input type="checkbox" name="csv_option" value="match" checked>
            Match ID
          </label>
          <label i18n="csv options"
                 i18n-title title="URL for the match">
            <input type="checkbox" name="csv_option" value="word_url" checked>
            URL
          </label>
          <label i18n="csv options"
                 i18n-title title="The transcription of the match and its surrounding context">
            <input type="checkbox" name="csv_option" value="result_text" checked>
            Text
          </label>
        </div>
        <app-layer-checkboxes
          name="csv_layer"
          includeCounts="true" includeAnchorSharing="true"
          participant="true" transcript="true"
          freeform="true" meta="true" word="true" segment="true"
          excludeMainParticipant="true" excludeTurn="true" excludeUtterance="true"
          selected="{{selectedLayers}}"></app-layer-checkboxes>
      </div>
    </fieldset>
  </div>
  <div id="emu-webapp" class="controls" *ngIf="emuWebApp">
    <app-button (press)="emuWebapp();"
                img="emu.png" icon="eμ"
                i18n-label label="EMU WebApp"></app-button>
    <app-button (press)="emuOptions();"
                img="down-triangle.png" icon="▼"
                i18n-title title="EMU WebApp options"
                ></app-button>
  </div>
  <div id="emu-options" class="{{showEmuOptions?'unhidden-panel':'hidden-panel'}}">
    <fieldset>
    <legend i18n>EMU WebApp Tiers</legend>
      <app-layer-checkboxes name="emu_layer"
                            word="true" segment="true"
                            selected="{{emuLayers}}"></app-layer-checkboxes>
    </fieldset>
  </div>
  <div id="serialize" class="controls">
    <app-button (press)="serialize();"
                img="{{serializeImg}}" icon="📦"
                i18n-label label="Utterance Export"></app-button>
    <select #mimetype name="mimetype"
            [(ngModel)]="mimeType"
            (change)="onChangeMimeType()">
      <option *ngFor="let serializer of serializers"
              value="{{serializer.mimeType}}">{{serializer.name}}</option>
    </select>
  </div>
  <div id="export-audio" class="controls">
    <app-button (press)="exportAudio();"
                img="audio.png" icon="🔊"
                i18n-label label="Audio Export"></app-button>
  </div>
  <div id="generate-layers" class="controls" *ngIf="user.roles.includes('edit') && htkLayer">
    <input #generate_layer type="hidden" name="generate_layer" value="">
    <app-button (press)="runAnnotator(htkLayer);"
                img="cog.png" icon="⚙"
                i18n-label label="Generate HTK"></app-button>
  </div>
  <app-keep-alive threadId="{{threadId}}"></app-keep-alive>
</form>
