<h2 id="title" i18n="page header">Elicitation Tasks</h2>
<div class="list task-list">
  <span class="task-name" i18n-title title="The name of the task"><legend i18n>Name</legend>
    <input #name type="text" required i18n-placeholder placeholder="Name" tabindex="1"
           [(ngModel)]="newTaskName"></span>
  <span class="corpus-name" i18n-title title="The corpus for elicited transcripts/recordings"><legend i18n>Corpus</legend>
    <select #corpus required tabindex="2">
      <option *ngIf="corpora" value="" disabled selected i18n>Corpus</option>
      <option *ngFor="let corpus of corpora" value="{{corpus.corpus_name}}">{{corpus.corpus_name}}</option>
    </select>
  </span>
  <span class="transcript-type new-task" i18n-title title="The transcript type for elicited transcripts/recordings"><legend i18n>Transcript Type</legend>
    <select #transcript_type required tabindex="3">
      <option *ngIf="transcriptTypes" value="" disabled selected i18n>Transcript Type</option>
      <option *ngFor="let transcriptType of transcriptTypes" value="{{transcriptType.label}}">{{transcriptType.description}}</option>
    </select>
  </span>
  <span class="buttons" tabindex="5">
    <lib-button action="create" [processing]="creating" *ngIf="!fileSelector"
                (press)="name.reportValidity() && corpus.reportValidity() && transcript_type.reportValidity() && createRow(name.value, description.value, corpus.value, transcript_type.value) && name.value = description.value = corpus.selectedIndex = transcript_type.selectedIndex = '';"
                i18n-title title="Add new task"></lib-button>
    <input *ngIf="fileSelector"
           type="file" id="taskFile"
           (change)="selectFile($event.target.files)" autofocus>
    <lib-button [processing]="uploading" [disabled]="newTaskName"
                i18n-label label="Upload"
                (press)="startUpload()"
                i18n-title title="Upload a task from a .json file"
                img="upload.svg" icon="⬆"></lib-button>
  </span>
  <span class="description new-task" i18n-title title="A description of the task"><legend i18n>Description</legend>
    <textarea #description i18n-placeholder placeholder="Description" tabindex="4"
              [className]="newTaskName?'show-description':'hide-description'"></textarea>
  </span>
  <lib-wait *ngIf="!rows"></lib-wait>
  <ng-container class="item" *ngFor="let task of rows">
    <span class="task-name" i18n-title title="Name"><legend i18n>Name</legend>
      <input type="text" required i18n-placeholder placeholder="Name"
             (change)="onChange(task)"
             [(ngModel)]="task.task_name"></span>
    <span class="corpus-name" i18n-title title="The corpus for elicited transcripts/recordings"><legend i18n>Corpus</legend>
      <select [(ngModel)]="task.corpus_name" (change)="onChange(task)">
        <option *ngFor="let corpus of corpora" value="{{corpus.corpus_name}}">{{corpus.corpus_name}}</option>
      </select>
    </span>
    <span class="transcript-type" i18n-title title="The transcript type for elicited transcripts/recordings"><legend i18n>Transcript Type</legend>
      <select [(ngModel)]="task.transcript_type" (change)="onChange(task)">
        <option *ngFor="let transcriptType of transcriptTypes" value="{{transcriptType.label}}">{{transcriptType.description}}</option>
      </select>
    </span>
    <span class="description" i18n-title title="A description of the task"><legend i18n>Description</legend>
      <textarea [(ngModel)]="task.description"
                (input)="onChange(task)"
                i18n-placeholder placeholder="A description of the task"></textarea>
    </span>
    <span class="preamble"><legend i18n-title title="Text the participant sees when they are about to start the task" i18n>Preamble</legend>
      <ckeditor [editor]="Editor"
                [config]="config"
                (change)="onChange(task)"
                [(ngModel)]="task.preamble"></ckeditor>
    </span>
    <span class="consent"><legend i18n-title title="Optional consent form to be 'signed' by the participant" i18n>Consent</legend>
      <ckeditor [editor]="Editor"
                [config]="config"
                (change)="onChange(task)"
                [(ngModel)]="task.consent"></ckeditor>
    </span>
    <span class="end-url" i18n-title title="Optional URL to send participants to after they finish the task -
 {participant}, if present in the URL, is replaced by the participant's ID"><legend i18n>End URL</legend>
      <input type="url"
             [(ngModel)]="task.endUrl" (change)="onChange(task)"
             i18n-placeholder placeholder="Optional URL to send participants to after they finish the task -
 {participant}, if present in the URL, is replaced by the participant's ID">
    </span>
    <div class="controls buttons">
      <lib-link [href]="baseUrl+'admin/steps?task_id='+task.task_id"
                i18n-label label="Define Steps"
                i18n-title title="Define individual steps for this task"
                img="cog.svg" icon="⚙"></lib-link>
      <lib-link [routerLink]="['..','task','attributes','participant',task.task_id]"
                i18n-label label="Participant Attributes"
                i18n-title title="Configure available values for participant attributes elicited during the task"
                img="wrench.svg" icon="🔧"></lib-link>
      <lib-link [routerLink]="['..','task','attributes','transcript',task.task_id]"
                i18n-label label="Transcript Attributes"
                i18n-title title="Configure available values for transcript attributes elicited during the task"
                img="wrench.svg" icon="🔧"></lib-link>
      <lib-link [routerLink]="['..','task','resources',''+task.task_id]"
                i18n-label label="Messages"
                i18n-title title="Translate or customize messages that may be shown to the participant during the task"
                img="globe.svg" icon="🌎"></lib-link>
      <lib-link [href]="baseUrl+'admin/taskReminders?task_id='+task.task_id"
                i18n-label label="Reminders"
                i18n-title title="Default schedule for reminders in mobile app"
                img="bell.svg" icon="🔔"></lib-link>
      <lib-link [href]="baseUrl+'api/elicit/steps?task='+task.task_name"
                i18n-label label="Export"
                i18n-title title="Export the definition of this task to a file"
                img="download.svg" icon="💾"></lib-link>
      <lib-link [href]="baseUrl+'elicit/index.html?task='+task.task_name"
                i18n-label label="Task URL"
                i18n-title title="Link for distributing to participants"
                img="link.svg" icon="🔗"></lib-link>
      <lib-link [href]="baseUrl+'admin/copyTask?task_id='+task.task_id"
                i18n-label label="Copy"
                i18n-title title="Create a copy of this task"
                img="duplicate.svg" icon="⧉"></lib-link>
      <lib-button  action="delete" [processing]="task._deleting"
                   disabled="{{task._cantDelete}}"
                   (press)="deleteRow(task);"
                   title="{{task._cantDelete}}"></lib-button>
    </div>
  </ng-container>
</div>
<div class="buttons">
  <lib-button action="save" [processing]="updating > 0"
              (press)="updateChangedRows();"
              *ngIf="changed"
              i18n-title title="Save all changed records"></lib-button>
</div>
