<ul *ngIf="visible">
  <li id="menu-admin-info">
    <a [routerLink]="['admin','info']"
       i18n-title="menu title" title="Edit overall information"
       i18n="menu label">Info</a> </li>
  <li id="menu-admin-transcript-types"> <!-- TODO reroute this to admin/layers/transcript_type/validLabels -->
    <a [routerLink]="['admin','transcriptTypes']"
       i18n-title="menu title" title="View, create, and edit transcript categories"
       i18n="menu label">Transcript Types</a> </li>
  <li id="menu-admin-corpora">
    <a [routerLink]="['admin','corpora']"
       i18n-title="menu title" title="View, create, and edit corpora"
       i18n="menu label">Corpora</a> </li>
  <li id="menu-admin-projects">
    <a [routerLink]="['admin','projects']"
       i18n-title="menu title" title="View, create, and edit projects"
       i18n="menu label">Projects</a> </li>
  <li id="menu-admin-tracks">
    <a [routerLink]="['admin','tracks']"
       i18n-title="menu title" title="View, create, and edit media tracks"
       i18n="menu label">Media Tracks</a> </li>
  <li id="menu-admin-roles">
    <a [routerLink]="['admin','roles']"
       i18n-title="menu title" title="View, create, and edit user roles"
       i18n="menu label">User Roles</a> </li>
  <li id="menu-admin-system-attributes">
    <a [routerLink]="['admin','attributes']"
       i18n-title="menu title" title="View and edit system attributes"
       i18n="menu label">System Attributes</a> </li>
  <li id="menu-admin-annotators">
    <a [routerLink]="['admin','annotators']"
       i18n-title="menu title" title="View, install, and uninstall annotator modules"
       i18n="menu label">Annotators</a> </li>
</ul>
