#dashboard {
    width: 90vw;
    text-align: center;
}

.item {
    display: inline-block;
    padding: 20px;
}
.item.link a, .item.link .dash-label {
    height: 100%;
    vertical-align: middle;
    display: block;
}

.item.sql .dash-statistic, .item.sql .dash-label, .item.exec .dash-statistic, .item.exec .dash-label {
    display: block;
}

img {
    height: 40px;
    width: 40px;
}

.emphasis {
    font-size: 14pt;
}
#where-do-i-start {
    cursor: help;
}

details>summary {
    cursor: zoom-in;
}
details[open]>summary {
    cursor: zoom-out;
}
details#info {
    padding: 10px;
}
div#info {
    text-align: center;
}
details#info summary {
    text-align: center;
    width: 100%;
    transition: width 0.5s;
    white-space: nowrap;
}
details#info[open] summary {
    width: 20%;
}
details#info > div {
    opacity: 0;
    transition: opacity 0.5s;
}
details#info[open] > div {
    opacity: 1;
}

@media all and (min-width: 640px) {
    #info article {
        padding: 20px;
        width: 70%;
        margin: auto;
    }
}
