<div class="ipa-helper">
  <a href="#" class="IPA" title="any consonant"
     (click)="select('[bçdðʤfFghHjʧklɾmnŋpPrRsʃtθvwxzʒʔ]')">CONSONANT</a>:
  <a href="#" class="IPA" title="glottal stop" (click)="select('ʔ')">ʔ</a>
  <a href="#" class="IPA" title="flap" (click)="select('ɾ')">ɾ</a>
  <a href="#" class="IPA" title="velar nasal" (click)="select('ŋ')">ŋ</a>
  <a href="#" class="IPA" title="voiceless dental fricative" (click)="select('θ')">θ</a>
  <a href="#" class="IPA" title="voiced dental fricative" (click)="select('ð')">ð</a>
  <a href="#" class="IPA" title="voiceless postalveolar fricative" (click)="select('ʃ')">ʃ</a>
  <a href="#" class="IPA" title="voiced postalveolar fricative" (click)="select('ʒ')">ʒ</a>
  <a href="#" class="IPA" title="voiceless palatal fricative" (click)="select('ç')">ç</a>
  <a href="#" class="IPA" title="voiceless postalveolar affricate" (click)="select('ʧ')">ʧ</a>
  <a href="#" class="IPA" title="voiced postalveolar affricate" (click)="select('ʤ')">ʤ</a>
  <a href="#" (click)="select('pf')">pf</a>
  <a href="#" (click)="select('ts')">ts</a>
  <br/>
  <a href="#" class="IPA" title="any vowel"
     (click)="select('(eɪ|αɪ|ɔɪ|əʊ|αʊ|ɪə|εə|ʊə|ai|au|ɔy|[cεFHiɪPqɒuʊʌəʏα]ː?)')">VOWEL</a>:
  <a href="#" class="IPA" title="KIT" (click)="select('ɪ')">ɪ</a>
  <a href="#" class="IPA" title="DRESS" (click)="select('ε')">ε</a>
  <a href="#" class="IPA" title="TRAP" (click)="select('æ')">æ</a>
  <a href="#" class="IPA" title="schwa" (click)="select('ə')">ə</a>
  <a href="#" class="IPA" title="FOOT" (click)="select('ʊ')">ʊ</a>
  <a href="#" class="IPA" title="STRUT" (click)="select('ʌ')">ʌ</a>
  <a href="#" class="IPA" title="LOT" (click)="select('ɒ')">ɒ</a>
  <a href="#" class="IPA" title="&auml;sen" (click)="select('εː')">εː</a>
  <a href="#" class="IPA" title="&uuml;ppig" (click)="select('ʏ')">ʏ</a>
  &nbsp;&nbsp;
  <a
    href="#" class="IPA" title="FLEECE" (click)="select('iː')">iː</a>
  <a href="#" class="IPA" title="BATH" (click)="select('αː')">αː</a>
  <a href="#" class="IPA" title="THOUGHT" (click)="select('ɔː')">ɔː</a>
  <a href="#" class="IPA" title="GOOSE" (click)="select('uː')">uː</a>
  <a href="#" class="IPA" title="NURSE" (click)="select('ɜː')">ɜː</a>
  <a href="#" class="IPA" title="&Ouml;fen" (click)="select('øː')">øː</a>
  &nbsp;&nbsp;
  <a href="#" class="IPA" title="FACE" (click)="select('eɪ')">eɪ</a>
  <a href="#" class="IPA" title="PRICE" (click)="select('αɪ')">αɪ</a>
  <a href="#" class="IPA" title="CHOICE" (click)="select('ɔɪ')">ɔɪ</a>
  <a href="#" class="IPA" title="GOAT" (click)="select('əʊ')">əʊ</a>
  <a href="#" class="IPA" title="MOUTH" (click)="select('αʊ')">αʊ</a>
  <a href="#" class="IPA" title="NEAR" (click)="select('ɪə')">ɪə</a>
  <a href="#" class="IPA" title="SQUARE" (click)="select('εə')">εə</a>
  <a href="#" class="IPA" title="CURE" (click)="select('ʊə')">ʊə</a>
  <a href="#" class="IPA" title="weit" (click)="select('ai')">ai</a>
  <a href="#" class="IPA" title="Haut" (click)="select('au')">au</a>
  <a href="#" class="IPA" title="freut" (click)="select('ɔy')">ɔy</a> 
</div>
