<h2 id="title" i18n="page header">Projects</h2>
<div class="list project-list">
  <div class="item add-new">
    <span class="project-name" i18n-title title="Name"><legend i18n>Name</legend>
      <input #project type="text" required i18n-placeholder placeholder="Name"></span>
    <span class="project-description" i18n-title title="Description"><legend i18n>Description</legend>
      <textarea #description i18n-placeholder placeholder="Description"></textarea>
    </span>
    <span class="buttons">
      <lib-button action="create"
                  (press)="project.reportValidity() && createRow(project.value, description.value); project.value = description.value = '';" [processing]="creating"
                  i18n-title title="Add new record"></lib-button>
    </span>
  </div>
  
  <lib-wait *ngIf="!rows"></lib-wait>
  <div class="item" *ngFor="let project of rows">
    <span class="project-name" i18n-title title="Name"><legend i18n>Name</legend>
      {{project.project}}</span>
    <span class="project-description" i18n-title title="Description"><legend i18n>Description</legend>
      <textarea #description
             [(ngModel)]="project.description"
             (input)="onChange(project)"
             i18n-placeholder placeholder="Description"></textarea>
    </span>
    <span class="buttons">
      <lib-button action="delete"
                  disabled="{{project._cantDelete}}"
                  (press)="deleteRow(project);"  [processing]="project._deleting"
                  title="{{project._cantDelete}}"></lib-button>
    </span>
  </div>
</div>
<div class="buttons">
  <lib-button action="save"
              (press)="updateChangedRows();"  [processing]="updating > 0"
              *ngIf="changed"
              i18n-title title="Save all changed records"></lib-button>
</div>
