lib-wait { position: absolute; }

/* consecutive blocks are vertical, simultaneous are horizontal */
#temporal-blocks .block {
    display: flex;
}
#temporal-blocks .consecutive {
    flex-direction: column;
}
#temporal-blocks .simultaneous {
    flex-direction: row;
}
#temporal-blocks .simultaneous .utterance {
    flex-grow: 1;
}
#temporal-blocks .consecutive, #temporal-blocks .simultaneous .utterance {
    border-left: 1px darkgray solid;
    border-bottom: 1px darkgray solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 5px;
    margin-top: 15px;
    padding: 5px;
}

/* only the first consecutive utterance, simultaneous utterances are all labelled */
.words {
    margin-left: 5%;
}
.words > .word  {
    padding-left: 0px;
    padding-right: 0px;
}
#temporal-blocks .block legend {
    display: block;
    font-style: italic;
    color: darkgray;
    position: relative;
    top: -12pt;
    margin-bottom: -12pt; /* so the legend doesn't displace the words below */
}
#temporal-blocks .consecutive legend {
    display: none;
}
#temporal-blocks .consecutive .utterance:first-child legend {
    display: block;
}

.token {
    display: inline-block;
}
.token .layer {
    display: flex;
    flex-direction: row;
}
.token .layer.span {
    display: flex;
    flex-direction: column;
}
.token .layer.span .annotation.during {
    border-top: 1px solid;
}
.token .layer.span .annotation.during label {
    position: absolute;
}
.token .layer.span .annotation.first {
    border-top: 1px solid;
    border-left: 1px solid;
    border-top-left-radius: 5px;
}
.token .layer.span.alignment-2 .annotation.last {
    border-top: 1px solid;
    border-right: 1px solid;
    border-top-right-radius: 5px;
}
.token .layer.span.alignment-2 .annotation.first.last {
    text-align: center;
}
.token .layer.span .annotation.first.last label {
    position: revert;
}
.token .layer.span .annotation.empty {
    border-top: 1px solid transparent;
}
.token .alignment-0 .annotation:not(:first-child) {
    position: fixed;
    opacity: 0;
}

/* main participants */
.main-participant {
    font-weight: bold;
}
/* Layout on wider screens */
@media all and (min-width: 640px) {
    lib-layer-checkboxes { /* layer selector is horizontal*/
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
