<h2 id="title" i18n="page header">Change Pass Phrase</h2>
<div class="list attribute-list">
  <div class="item password" i18n-title title="Enter your current pass phrase">
    <label class="attribute" i18n>Current Pass Phrase</label>
    <span class="value"><legend i18n>Current Pass Phrase</legend>
      <input type="password"
             [(ngModel)]="currentPassword"
             (keyup)="checkForm()"
             (keyup.enter)="changePassword();"
             required
             i18n-placeholder placeholder="Current Pass Phrase"
             appAutofocus="true">
    </span>
  </div>
  <div class="item password" i18n-title title="Enter a new pass phrase">
    <label class="attribute" i18n>Pass Phrase</label>
    <span class="value"><legend i18n>Pass Phrase</legend>
      <input type="password"
             [(ngModel)]="newPassword"
             (keyup)="checkForm()"
             (keyup.enter)="changePassword();"
             required
             i18n-placeholder placeholder="Pass Phrase">
    </span>
  </div>
  <div class="item password" i18n-title title="Enter the same pass phrase again">
    <label class="attribute" i18n>Repeat Pass Phrase</label>
    <span class="value"><legend i18n>Repeat Pass Phrase</legend>
      <input type="password"
             [(ngModel)]="repeatPassword"
             (keyup)="checkForm()"
             (keyup.enter)="changePassword();"
             required
             i18n-placeholder placeholder="Repeat Pass Phrase">
    </span>
  </div>
</div>
<div class="buttons">
  <lib-button action="save"
              (press)="changePassword();"
              [processing]="processing"
              *ngIf="changed"
              i18n-title title="Change Pass Phrase"></lib-button>
</div>
