<header>
  <h1 *ngIf="!production">{{ title }}</h1>
  <lib-messages></lib-messages>
</header>
<div id="main">
  <nav>
  </nav>
  <article>
    <router-outlet></router-outlet>
  </article>
  <aside><!-- user info --></aside>
</div>
<div id="keepalive-tasks">
  <lib-task
    *ngFor="let threadId of searchHistoryThreads"
    [threadId]="threadId"
    [autoOpenResults]="false"
    [purgeHistoryIfInvalid]="true"></lib-task>
</div>
<footer *ngIf="!production"><a [routerLink]="['/about']">Copyright &copy; 2020-2025 NZILBB</a></footer>
