#participant-ids {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 30vh;
    overflow: scroll;
}
#participant-ids a + a:before {
    content: ', ';
}
.item label {
    display: inline-block;
}
