#attributes {
    width: 100%;
    text-align: left;
}
.tab-labels label {
    cursor: context-menu;
}
.tab-labels label img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.tab-body {
    border: 1px var(--theme-text-color) solid;
    border-top: none;
    margin-left: -1px; /* to make annoying overshoot at least symmetrical */
}
.tab-body > div {
    padding-top: 10px;
}
@media all and (min-width: 640px) {
    #matrix { 
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
}
#participant-ids, #transcript-ids {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 30vh;
    overflow: auto;
}
#participant-ids a, #transcript-ids a {
    padding-right: 5px;
}
#participant-ids a:after, #transcript-ids a:after  {
    content: ', ';
}
#participant-ids a:last-child:after, #transcript-ids a:last-child:after  {
    content: '';
}
.item label {
    display: inline-block;
}
#file-chooser label {
    padding-right: 5px;
}
#file-chooser label:after {
    content: ':';
}
@media all and (min-width: 640px) {
    lib-layer-checkboxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.search-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
