<h2><span i18n="page header|Role Permissions for [role_id]">Role Permissions for</span> <q>{{role_id}}</q></h2>
<div class="list role-permission-list">
  <div class="item add-new">
    <span class="role-permission-entity" i18n-title title="What the permission protects"><legend i18n="What is protected by a pemission (transcript, audio, video, etc.)">Entity</legend>
      <select #entity required>
        <option disabled selected>Entity</option>
        <option *ngFor="let e of availableEntityValues"
                value="{{e}}">
          {{validEntities[e]}}
        </option>
      </select>
    </span>
    <span class="role-permission-layer" i18n-title title="Transcript attribute to check"><legend i18n>Transcript Attribute</legend>
      <select #layer required>
        <option disabled selected i18n="select option placeholder">Transcript Attribute</option>
        <option *ngFor="let layer of attributes" value="{{layer.id}}">
          {{layer.id}}
        </option>
      </select>
    </span>
    <span class="role-permission-value-pattern" i18n-title title="Regular expression to match the attribute value"><legend i18n="field header|Regular expression pattern">Pattern</legend>
      <input #value_pattern type="text" placeholder="Pattern" required >
    </span>
    <span class="buttons">
      <app-button action="create"
                  (click)="entity.reportValidity() && layer.reportValidity() && value_pattern.reportValidity() && createRow(entity.value, layer.value, value_pattern.value) && !(entity.selectedIndex = layer.selectedIndex = 0) && value_pattern.value = '';"
                  i18n-title title="Add new record"></app-button>
    </span>
  </div>
  
  <app-wait *ngIf="!rows"></app-wait>
  <div class="item" *ngFor="let permission of rows">
    <span class="role-permission-entity" i18n-title title="Name"><legend i18n>Entity</legend>
      {{validEntities[permission.entity]}}</span>
    <span class="role-permission-layer" i18n-title title="Transcript attribute to check"><legend i18n="field header">Transcript Attribute</legend>
      <select #layer
              [(ngModel)]="permission.layer"
              (input)="onChange(permission)"
              >
        <option *ngFor="let layer of attributes" value="{{layer.id}}">{{layer.id}}</option>
      </select>
    </span>
    <span class="role-permission-value-pattern" i18n-title title="Regular expression to match the attribute value"><legend i18n="field header|Regular expression pattern">Pattern</legend>
      <input #value_pattern
             [(ngModel)]="permission.value_pattern"
             (input)="onChange(permission)"
             type="text"
             i18n-placeholder="input placeholder|Regular expression pattern" placeholder="Pattern"
             required >
    </span>
    <span class="buttons">
      <app-button action="delete"
                  disabled="{{permission._cantDelete}}"
                  (click)="deleteRow(permission);"
                  title="{{permission._cantDelete}}"></app-button>
    </span>
    
  </div>
</div>
<div class="buttons">
  <app-button action="save"
              (click)="updateChangedRows();"
              *ngIf="changed"
              i18n-title title="Save all changed records"></app-button>
</div>
