<div id="credits">
  <p> <a href="https://labbcat.canterbury.ac.nz">LaBB-CAT</a> (formerly known as ONZE Miner) was designed and written by 
    <a href="https://www.canterbury.ac.nz/about-uc/contact-us/staff-directory/robert-fromont">Robert Fromont</a> and
    <a href="https://profiles.canterbury.ac.nz/Jennifer-Hay">Jen Hay</a> for the
    <a href="https://www.canterbury.ac.nz/nzilbb/">New&nbsp;Zealand Institute&nbsp;of Language,&nbsp;Brain&nbsp;and&nbsp;Behaviour</a>
    (NZILBB) at the 
    University of Canterbury, Christchurch, New Zealand. </p>

  <p> Many thanks to
    <a href="https://www.linguistics.pitt.edu/people/dan-villarreal">Dan Villarreal</a>
    of the University of Pittsburgh
    for mounting contributions to LaBB-CAT's user experience.
  </p>
  
  <p> The <a href="https://www-nlp.stanford.edu/software/lex-parser.html">NLP parser</a>
    was provided by
    <a href="https://www-nlp.stanford.edu">The Stanford Natural Language Processing Group</a>.</p> 
  
  <p> The CELEX database is available from the
    <a href="https://catalog.ldc.upenn.edu/LDC96L14">Linguistic Data Consortium</a>. </p>
  
  <p> LaBB-CAT can be configured to use the
    <a href="https://htk.eng.cam.ac.uk/">Hidden Markov Model Toolkit (HTK)</a>
    provided by the
    <a href="https://www.eng.cam.ac.uk/">Cambridge University Engineering Department</a>.
    Optionally, the pre-trained Penn Phonetics Lab Force Aligner models
    (<a href="https://www.ling.upenn.edu/phonetics/p2fa/" target="p2fa">P2FA</a>
    - Jiahong Yuan and Mark Liberman. 2008.
    <i>Speaker identification on the SCOTUS corpus.</i> Proceedings of Acoustics '08.)
    may be used for alignment in conjunction with HTK.</p>
  
  <p> Most icon images are from
    <a href="https://github.com/iconic/open-iconic">Open Iconic</a>,
    the <a href="https://www.tekeye.uk/free_resources/tango_desktop_project/index">Tango Desktop Project</a>,
    and others are from
    <a href="https://schollidesign.deviantart.com/">Oliver Scholtz's</a>
    &nbsp;<a href="https://www.softicons.com/free-icons/system-icons/human-o2-icons-by-oliver-scholtz">Human-O2 Icons</a>. </p>
  
  <p> The font is the
    <a href="fonts/Atkinson-Hyperlegible-Font-License-2020-1104.pdf">Atkinson Hyperlegible Font</a>
    published by the
    <a href="https://brailleinstitute.org/freefont">Braille Institute</a>. </p>
  
  <p> In-situ editing of online help and other HTML made possible
    by <a href="https://ckeditor.com/">CKEditor</a>.</p> 
  
  <p> Conversion to PDF made possible by <a href="https://itextpdf.com/">iText &reg;</a>. </p>

  <p> Browser-based audio recording achieved using components by
    <a href="https://webaudiodemos.appspot.com/AudioRecorder/index.html" target="AudioRecorder">
      Matt Diamond and Chris Wilson</a>. </p>
  
  <p> Browser-based script editing achieved using
    <a href="https://codemirror.net/" target="CodeMirror">CodeMirror</a>
    by Marijn Haverbeke and others. </p>
  
  <!--p> Browser-based interactive trees achieved using
    <a href="https://www.jstree.com/" target="jsTree">jsTree</a>
    by <a href="https://github.com/vakata/" target="vakata">Ivan Bozhanov</a>. </p-->
  
  <p> Syntactic parse tree rendering achieved using
    <a href="https://visjs.org/" target="vis">vis.js</a>
    by <a href="https://github.com/almende" target="almende">almende</a>. </p>
  
  <p> Acoustic analysis is done using
    <a href="https://praat.org" target="praat">Praat</a>
    by <a href="https://www.fon.hum.uva.nl/paul/" target="praat">Paul Boersma</a>
    and <a href="https://www.fon.hum.uva.nl/david/" target="praat">David Weenink</a>. </p>
  
  <p> Emu in-situ annotation visualisation by
    <a href="https://github.com/IPS-LMU/EMU-webApp" target="EMU-webApp">EMU-webApp</a>
    by <a href="https://github.com/raphywink" target="raphywink">Raphael Winkelmann</a>
    and <a href="https://github.com/georgraess" target="georgraess">Georg Räß</a>. </p>
  
  <p> Query language parsing uses
    <a href="https://github.com/antlr/antlr4">ANTLR</a>
    by <a href="https://github.com/parrt">Terence Parr</a>
    and <a href="https://github.com/antlr/antlr4/graphs/contributors">many others</a>. </p>
  
  <p> Process with Praat can be configured to use
    <a href="https://github.com/santiagobarreda/FastTrack">FastTrack</a>
    by <a href="https://linguistics.ucdavis.edu/people/sbarreda">Santiago Barreda</a>;
    to cite FastTrack please use: Barreda, S. (2021).
    <em>Fast Track: fast (nearly) automatic formant-tracking using Praat.</em>
    Linguistics Vanguard, 7(1).
    <a href="https://doi.org/10.1515/lingvan-2020-0051">https://doi.org/10.1515/lingvan-2020-0051</a></p>
  
  <p> LaBB-CAT relies heavily on many
    <a href="https://apache.org/" target="apache">Apache</a> components, including
    <a href="https://tomcat.apache.org/" target="tomcat">Tomcat</a>,
    <a href="https://ant.apache.org/" tomcat="ant">Ant</a>,
    <a href="https://maven.apache.org/" tomcat="ant">Maven</a>,
    and <a href="https://commons.apache.org/" target="commons">Commons</a>.</p>

  <p> LaBB-CAT's user interface is increasingly implemented using the
    <a href="https://angular.dev/">Angular</a> framework.</p>
  
  <hr>
  
  <table id="jslicense-labels1">
    <caption>JavaScript license information</caption>
    <thead>
      <tr><th>Script</th><th>License</th><th>Source Code</th></tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="jquery.js">jQuery</a></td>
        <td><a href="https://expatlicense.org/page/info/mit">Expat</a></td>
        <td><a href="jquery.js">jquery.js</a></td>
      </tr>
      <tr>
        <td><a href="jquery.elastic.source.js">jQuery Elastic</a></td>
        <td><a href="https://expatlicense.org/page/info/mit">Expat</a></td>
        <td><a href="jquery.elastic.source.js">jquery.elastic.source.js</a></td>
      </tr>
      <tr>
        <td><a href="jquery.js">jQuery UI</a></td>
        <td><a href="https://expatlicense.org/page/info/mit">Expat</a></td>
        <td><a href="jquery-ui.js">jquery-ui.js</a></td>
      </tr>
      <tr>
        <td><a href="jquery.elastic.source.js">jsTree JQuery tree plugin</a></td>
        <td><a href="https://expatlicense.org/page/info/mit">Expat</a></td>
        <td><a href="js/jstree/jstree.js">jstree.js</a></td>
      </tr>
      <tr>
        <td><a href="js/codemirror/lib/codemirror.js">Codemirror</a></td>
        <td><a href="https://expatlicense.org/page/info/mit">Expat</a></td>
        <td><a href="js/codemirror/lib/codemirror.js">codemirror.js</a></td>
      </tr>
      <tr>
        <td><a href="js/codemirror/mode/javascript/javascript.js">Codemirror Javascript mode</a></td>
        <td><a href="https://expatlicense.org/page/info/mit">Expat</a></td>
        <td><a href="js/codemirror/mode/javascript/javascript.js">javascript.js</a></td>
      </tr>
      <tr>
        <td><a href="js/codemirror/mode/octave/octave.js">Codemirror Octave/MATLAB mode</a></td>
        <td><a href="https://expatlicense.org/page/info/mit">Expat</a></td>
        <td><a href="js/codemirror/mode/octave/octave.js">octave.js</a></td>
      </tr>
      <tr>
        <td><a href="EMU-webApp/scripts/e0995b7e.emuwebAppExternal.min.js">EMU-webApp</a></td>
        <td><a href="https://expatlicense.org/page/info/mit">Expat</a></td>
        <td><a href="EMU-webApp/scripts/e0995b7e.emuwebAppExternal.min.js">emuwebAppExternal.min.js</a></td>
      </tr>
      <tr>
        <td><a href="js/vis.min.js">vis.js</a></td>
        <td><a href="https://expatlicense.org/page/info/mit">Expat</a></td>
        <td><a href="js/vis.js">vis.js</a></td>
      </tr>
  </tbody></table> 
</div>
