<h2 i18n="page header">Install Transcriber</h2>

<div id="upload" *ngIf="!transcriber">
  <div id="file-chooser" *ngIf="!uploading">
    <label for="jarFile" i18n>Transcriber .jar File</label>
    <input id="jarFile" type="file" (change)="upload($event.target.files)">
    
  </div>
  <progress id="progress" max="100" [value]="percentCompleted" *ngIf="uploading"></progress>
</div>

<div id="transcriber" *ngIf="transcriber && !configuring">
  <div class="list attribute-list">
    <div class="item attribute-item">
      <label class="attribute" i18n i18n-title title="Transcriber ID"> Transcriber ID </label>
      <span class="value" id="transcriberId" i18n-title title="Transcriber ID">
        <legend i18n>Transcriber ID</legend>
        <span>{{transcriber.transcriberId}}</span>
      </span>
    </div>
    <div class="item attribute-item" *ngIf="transcriber.installedVersion">
      <label class="attribute" i18n i18n-title title="Replaces version"> Replaces version </label>
      <span class="value" id="installedVersion" i18n-title title="Replaces version">
        <legend i18n>Replaces version</legend>
        <span>{{transcriber.installedVersion}}</span>
      </span>
    </div>
    <div class="item attribute-item" *ngIf="transcriber.installedVersion">
      <label class="attribute">  </label>
      <span class="value"> <span>&darr;</span> </span>
    </div>
    <div class="item attribute-item">
      <label class="attribute" i18n i18n-title title="Version"> Version </label>
      <span class="value" id="version" i18n-title title="Version">
        <legend i18n>Version</legend>
        <span>{{transcriber.version}}</span>
      </span>
    </div>
  </div>
  <div class="controls">
    <lib-button (press)="install(true)"
                i18n-label label="Install"
                i18n-title title="Confirm transcriber installation"
                img="check-mark.svg" icon="✓"></lib-button>
    <lib-button (press)="install(false)"
                i18n-label label="Cancel"
                i18n-title title="Cancel transcriber installation"
                img="cross-mark.svg" icon="❌"></lib-button>
  </div>
  <div [innerHTML]="transcriber.info" i18n-title title="Transcriber information"></div>
</div>

<iframe #configWebapp
        class="{{configuring?'unhidden-panel':'hidden-panel'}}"></iframe>
