<h2 i18n="page header">Media Tracks</h2>
<div class="list media-track-list">
  <div class="item add-new">
    <span class="media-track-name" i18n-title title="Suffix"><legend i18n>Suffix</legend>
      <input #suffix type="text" i18n-placeholder placeholder="Suffix"></span>
    <span class="media-track-description" i18n-title title="Description"><legend i18n>Description</legend>
      <textarea #description  i18n-placeholder placeholder="Description"></textarea>
    </span>
    <span class="media-track-display-order" i18n-title="field|Order items are displayed in" title="Display order"><legend i18n="field|Order items are displayed in">Order</legend>
      <input #displayOrder type="number" step="1" i18n-placeholder="field|Order items are displayed in" placeholder="Order"></span>
    <span class="buttons">
      <app-button action="create"
                  (click)="createRow(suffix.value, description.value, displayOrder.value); suffix.value = description.value = displayOrder.value = '';"
                  i18n-title title="Add new record"></app-button>
    </span>
  </div>
  
  <app-wait *ngIf="!rows"></app-wait>
  <div class="item" *ngFor="let track of rows">
    <span class="media-track-name" i18n-title title="Suffix"><legend i18n>Suffix</legend>
      {{track.suffix}}
      <span *ngIf="!track.suffix"
            class="no-suffix"
            i18n-title title="Media files with no suffix"
            i18n="Media files with no suffix">
        (no suffix)
      </span>
    </span>
    <span class="media-rack-description" i18n-title title="Description"><legend i18n>Description</legend>
      <textarea #description
             [(ngModel)]="track.description"
             (input)="onChange(track)"
              i18n-placeholder placeholder="Description"></textarea>
    </span>
    <span class="media-track-display-order" i18n-title="field|Order items are displayed in" title="Display order"><legend i18n="field|Order items are displayed in">Order</legend>
      <input #displayOrder
             [(ngModel)]="track.display_order"
             (input)="onChange(track)"
             type="number" step="1"
             i18n-placeholder="field|Order items are displayed in" placeholder="Order"></span>
    <span class="buttons">
      <app-button action="delete"
                  disabled="{{track._cantDelete}}"
                  (click)="deleteRow(track);"
                  title="{{track._cantDelete}}"></app-button>
    </span>

  </div>
</div>
<div class="buttons">
  <app-button action="save"
              (click)="updateChangedRows();"
              *ngIf="changed"
              title="Save all changed tracks"></app-button>
</div>
