<h2><span i18n="page header|Change pass phrase for [user]">Change Pass Phrase for </span> <q>{{user}}</q></h2>
<div class="list attribute-list">
  <div class="item password" i18n-title title="Enter a new pass phrase">
    <label class="attribute" i18n>Pass Phrase</label>
    <span class="value"><legend i18n>Pass Phrase</legend>
      <input type="password"
             [(ngModel)]="p"
             (keyup)="checkForm()"
             (keyup.enter)="changePassword();"
             required
             i18n-placeholder placeholder="Pass Phrase"
             appAutofocus>
    </span>
  </div>
  <div class="item password" i18n-title title="Enter the same pass phrase again">
    <label class="attribute" i18n>Repeat Pass Phrase</label>
    <span class="value"><legend i18n>Repeat Pass Phrase</legend>
      <input type="password"
             [(ngModel)]="p2"
             (keyup)="checkForm()"
             (keyup.enter)="changePassword();"
             required
             i18n-placeholder placeholder="Repeat Pass Phrase">
    </span>
  </div>
  <div class="item reset"
       i18n-title title="Ask the user to change their pass phrase next time they log in">
    <label class="attribute" i18n>Reset Next Login </label>
    <span class="value"><legend i18n>Reset Next Login</legend>
      <input type="checkbox"
             [(ngModel)]="resetPassword">
    </span>
  </div>
</div>
<div class="buttons">
  <lib-button action="save"
              (press)="changePassword();"
              [processing]="processing"
              *ngIf="changed"
              i18n-title title="Change Pass Phrase"></lib-button>
</div>

