.messages {
    height: 20px;
    width: 80vw;
}

@keyframes sidle-fade {
    0%   { opacity: 0; left: 10%; }
    10%  { opacity: 0.7; left: 0%; }
    90%  { opacity: 0.7; }
    100% { opacity: 0; }
}
.message {
    position: relative;
    font-style: italic;
    animation-name: sidle-fade;
    animation-duration: 10s;
    opacity: 0;
}
