<h1 id="title" i18n>Upload Results</h1>

<div id="file-chooser">
  <label for="csv" i18n>Upload search results from file</label>
  <input type="file" id="csv" (change)="selectFile($event.target.files)" autofocus>
</div>
<div *ngIf="csv">
  <lib-button img="cog.svg" icon="⚙"
              (press)="process()"
              [processing]="processing"
              [error]="processingError"
              img="cog.svg" icon="⚙"
              i18n-title title="Upload results file so that further data can be extracted"
              i18n-label label="Upload"
              ></lib-button>
  <lib-task *ngIf="threadId"
            threadId="{{threadId}}"
            [autoOpenResults]="false"
            (finished)="finished($event)"></lib-task>
</div>
