#file-chooser {
    min-width: 80vw;
}
#file-chooser label {
    padding-right: 5px;
}
#file-chooser label:after {
    content: ":";
}
#file-chooser details {
    padding-top: 5px;
}
.header {
    padding-top: 10px;
    font-weight: 700;
}
#targetColumn label {
    display: inline-block;
    min-width: 150px;
}
