/* Layout on wider screens */
@media all and (min-width: 640px) {
    .category-description {
        width: 65%;
    }
}
.move-up, .move-down {
    animation-name: delayed-fade-in;
    animation-duration: 1s;
}
