<h1 i18n="extract menu page title">Extract</h1>
<ul id="extract-menu">
  <li id="extract-data">
    <a [routerLink]="['..','matches','upload']"
       i18n-title title="Extract audio excerpts, transcript excerpts, or annotations using a CSV search results file"
       >Extract data based on search results</a></li>
  <li id="extract-intervals">
    <a [routerLink]="['..','annotation','intervals']"
       i18n-title title="Extract annotations between start and end times using a CSV search results file"
       >Extract annotations based on time intervals</a></li>
  <li id="process-with-praat"
      *ngIf="processWithPraatEnabled">
    <a [routerLink]="['..','praat']"
       i18n-title title="Insert praat-processed data into a CSV search results file"
       >Process with Praat</a></li>
</ul>

