/* TODO once the classic UI is totally replaced, remove the app-root... selectors below */

/* some things used in lots of places: */
:root {
    --progress-size: 22px;
    --theme-block-color: #96A339; /* from NZILBB logo */
    --theme-text-color: #78832E;  /* darkened for legibility */
    --theme-background-color: #FCFCFC;; /* for elements that can't be transparent */
    --theme-error-color: red;
    --theme-warning-color: orange;
}

/* animations */
@keyframes sidle-fade {
    0%   { opacity: 0; left: 10%; }
    10%  { opacity: 1; left: 0%; }
    90%  { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes sidle-fade-semitrans {
    0%   { opacity: 0; left: 5%; }
    5%   { opacity: 0.92; left: 0%; }
    95%  { opacity: 0.92; }
    100% { opacity: 0; }
}
@keyframes fade-in {
    from { opacity: 0; }
    to { end: 1; }
}
@keyframes fade-down {
    from {
        opacity: 0;
        position: relative;
        top: -50px;
    }
    to {
        end: 1;
        position: relative;
        top: 0px;
    }
}
@keyframes fade-right {
    from {
        opacity: 0;
        position: relative;
        left: -50px;
    }
    to {
        end: 1;
        position: relative;
        left: 0px;
    }
}
@keyframes roll-out {
    from {
        opacity: 0;
        overflow: hidden;
        max-height: 0px;
        max-width: 0px;
    }
    to {
        opacity: 1;
        overflow: auto;
        max-height: 1000px;
        max-width: 1000px;
    }
}
@keyframes roll-down {
    from {
        opacity: 0;
        overflow: hidden;
        max-height: 0px;
    }
    to {
        opacity: 1;
        overflow: auto;
        max-height: 1000px;
    }
}
@keyframes roll-up {
    from {
        opacity: 1;
        overflow: auto;
        max-height: 1000px;
    }
    to {
        opacity: 0;
        overflow: auto;
        max-height: 0px;
    }
}

/* general look and feel */
h1 { font-size: 17pt; color: black; text-align: center; }
h2 { font-size: 16pt; color: black; }
h3 { font-size: 15pt; color: var(--theme-text-color); font-style:italic; }
h4 { font-size: 14pt; color: var(--theme-text-color); }
h5 { font-size: 13pt; color: var(--theme-text-color); }
h6 { font-size: 12pt; color: var(--theme-text-color); }

article h1 {
    font-weight: normal;
}

app-root footer, app-root header { color: var(--theme-text-color); }
app-root footer a, app-root header a { color: var(--theme-text-color); text-decoration: none; }

/* Layout */
app-root, #main { display: flex; flex-direction: column; min-width: 80vw; }
app-root article, app-root nav, app-root aside { order: 0; }
app-root article { flex: 3 1 60%; min-height: 100px; }
app-root nav { flex: 1 6 20%; }
app-root aside { flex: 1 6 10%; min-height: 30px; }
app-root header { min-height: 0px; }
app-root footer { min-height: 50px; }
/* Layout on wider screens - 3 columns */
@media all and (min-width: 640px) {
    #main { flex-direction: row; }
    article { order: 2; }
    nav { order: 1; }
    aside { order: 3; }
    header, footer { min-height: 100px; }
}
app-root article {
    margin: 4px;
    padding: 5px;
}

app-root header {
    text-align: center;
}
app-root footer {
    text-align: center;
    font-size: 10pt;
}

div.messages {
    width: fit-content; /* ensure it's no wider than necessary, so it doesn't cover menu options */
}
div.messages div.error { color: var(--theme-error-color); font-weight: bold; }
.message { color: black; }
.error { color: var(--theme-error-color); }

lib-wait {
    display: block;
    width: 100%;
    text-align: center;
}

/* forms */

input[type=number] {
    text-align: right;
}

/* lists of things */

.list {
    width: 100%;
}

.list > .item {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.list > .header {
    font-weight: bold;
}
.list > .item:not(:first-child) {
    border-top: 1px dashed silver;
}
.list > .item > span {
    display: block;
    vertical-align: top;
    padding-left: 10px;
    white-space: nowrap;
}
.list > .item > span.header-only {
    display: none;
}
.list > .item > span > legend {
    font-size: 10pt;
}
.list > .item > span.number {
    text-align: right;
}
.list > .item > span.center {
    text-align: center;
}
.list > .item > span:first-child {
    padding-left: 5px;
}
.list > .item > span > input, .list > .item > span > select, .list > .item > span > textarea {
    width: 95%;
}
.list > .item > label { display: none; }

.list > .attribute-item > label { font-weight:  bold; }

.list + div.buttons { min-height: 30px; }

.buttons a {
    display: inline-block;
    color: var(--theme-text-color);
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px var(--theme-text-color) solid;
    padding: 4px;
    height: 30px;
    vertical-align: middle;
}

.menu {
    background: lightgray;
    width: max-content;
    border: 1px outset;
    padding: 2px;
}
.menu .item {
    padding: 4px;
}
.menu .item:hover {
    background: #DDDDDD;
}

/* Copied styles from legacy stylesheet - TODO revise these when migration complete */
button {
    white-space: nowrap;
    min-width: 80px;
    height: 45px;
    background: #CCCCCC;
    border: 1px outset;
    font-family: Atkinson-Hyperlegible, sans-serif;
    font-size: 9pt;
    padding: 1px;
}
button:hover:not([disabled]) {
    background: #BBBBBB;
}
button:active:not([disabled]) {
    border: 1px inset;
    background: #BBBBBB;
}
button img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.small button.icon-only {
    width: 25px;
    min-width: 25px;
}
.small button img {
    width: 10px;
    height: 10px;
    vertical-align: baseline;
}
.lnk img, .lnk > span {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    padding: 6px;
    display: inline-block;
}
button:disabled img {
    opacity: 0.5;
}
button.icon-only {
    min-width: 45px;
    width: 45px;
}
button.icon-only label {
    display: none;
}
progress, div.progress_container, div.progress {
    color: var(--theme-block-color);
    width: 95%;
    min-width: 120px; /* this because of strangeness in chromium */
    height: 20px;
    vertical-align: middle;
}

/* Styles to undo legacy stylesheet stuff - TODO remove this when no longer necessary */
span.label:after {
    content: '';
}

/*
body > app-root > header > nav, div#page_body, body > app-root > footer {
    min-width: 98vw;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

body > app-root > header > nav {
    text-align: center; 
}
body > app-root > header > nav > ul.menu_items {
    display: inline-block;
    white-space: nowrap;
    padding: 0px;
    margin: 0px;
}
body > app-root > header > nav > ul.menu_items > li {
    display: inline-block;
    white-space: nowrap;
    padding: 0px;
}
body > app-root > header > nav > ul.menu_items > li:after { content: ' - '; }
body > app-root > header > nav > ul.menu_items > li:last-child:after { content: ''; }
body > app-root > header > nav > ul.menu_items > li.help_item:after { content: ''; }
body > app-root > header > nav > ul.menu_items > li.user_link:before { content: '['; }
body > app-root > header > nav > ul.menu_items > li.user_link:after { content: ']'; }
*/


progress { -webkit-appearance: none; }
progress::-webkit-progress-value { background: var(--theme-block-color); }
progress::-webkit-progress-bar { background: #EEEEEE; }
progress::-moz-progress-bar { background: var(--theme-block-color); }
.progress-container {
    width: 100%;
    min-width: 500px;
    background: #EEEEEE;
}
.progress-container .progress {
    background: var(--theme-block-color);
}

lib-button {
    display: inline-block;
}
lib-button button {
    width: 100%;
}

/* task progress */
lib-task lib-button {
    min-width: var(--progress-size);
}
lib-task lib-button button {
    padding: 1px;
    height: var(--progress-size);
    width: var(--progress-size) !important;
    min-width: auto !important;
}
lib-task lib-button img {    
    height: 100%;
}
lib-task progress, lib-task .progress-container, lib-task .progress-container .progress  {    
    height: var(--progress-size);
}

.buttons {
    text-align: right;
}
.lnk {
    vertical-align: middle;
    white-space: nowrap;
}

@media all and (min-width: 640px) {
    button {
        height: 32px;
        padding: 5px;
    }
    .small button {
        height: unset;
    }
    .buttons a {
        height: auto;
    }
    button.icon-only, lib-button button.icon-only {
        min-width: 32px;
        width: 32px;
    }
    .lnk img, .lnk > span {
        vertical-align: middle;
        padding: unset;
    }
}

/* odd/even rows for data tables */
table {
    border-collapse: collapse;
}
tbody tr:nth-child(odd) {
    background: #EEEEEE;
}
tbody tr:nth-child(even) {
    background: #FFFFFF;
}

.hidden-panel {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.unhidden-panel {
    max-height: 500px;
    overflow: auto;
    transition: max-height 0.5s;
}
.long-unhidden-panel {
    max-height: 1000px;
    overflow: auto;
    transition: max-height 0.5s;
}
.header {
    font-style: italic;
}

/* attribute lists */

.attribute-list {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 50vw;
    margin: auto;
    background: #FFFFFF;
}
.attribute-list .attribute {
    display: flex;
    flex-direction: row;
    padding: 4px;
}
.attribute-list .attribute:nth-child(odd) {
    background: #EEEEEE;
}
.attribute-list .attribute:nth-child(even) {
    background: #FFFFFF;
}
.attribute-list .attribute label {
    width: 50%
}
.attribute-list .attribute label:after {
    content: ':';
}
.attribute-list .attribute .values {
    display: flex;
    flex-direction: column;
}

/* tabs UX */
.tab-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
}
.tab-labels label.tab-label {
    flex-grow: 1;
    display: inline-block;
    padding: 8px;
    border: 1px var(--theme-text-color) solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
}
label.tab-label.active {
    border-bottom: 1px white solid;
}
.tab-body {
    animation-name: roll-down;
    animation-duration: 1s;
}
.tab-body.inactive {
    display: none;
}
.tab-body.attribute-list {
    width: 100%;
}

lib-pagination {
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: 9pt;
}
lib-pagination > * {
    padding: 3px;
}
lib-pagination .current {
    font-weight: bold;
    padding: 3px;
    border: inset 2px;
}

/* Layout on wider screens */
@media all and (min-width: 640px) {
    app-root nav { min-height: 100px; max-width: min-content; }
    app-root aside { max-width: min-content; }
    .list { display: table; }
    .list > .item {
        display: table-row;
        padding-bottom: 0px;
    }
    .list > .item:nth-of-type(odd) { background: #FAFAFA; }
    .list > .item:nth-of-type(even) { background: #FFFFFF; }
    .list > .item > span { display: table-cell; }
    .list > .item > span.header-only { display: table-cell; }
    .list > .item > span > legend { display: none; }
    .list > .item > label { display: block; }

    /* Process with Praat background image URL here to ensure it works from the server */
    #settings-form .item > .viz {
        background-image: url('assets/sine.svg');
        background-size: auto 100%;
    }
    /* transcript permalink image URL here to ensure it works from the server */
    #word-menu .permalink:hover::after {
        content: ' ' url('assets/link.svg') / '🔗';
    }
}

