<h1 id="title">{{name}}</h1>

<p>{{task.csv ? status.replace('Found', 'Uploaded') : status}}
  <span *ngIf="task.csv">from {{task.csv}}</span>
  <span *ngIf="totalUtteranceDuration">(<span i18n>Total utterance duration:</span> {{totalUtteranceDuration | duration}})</span>
</p>

<lib-wait *ngIf="readingMatches"></lib-wait>
<form #form method="POST" id="frm" *ngIf="matches.length" todotarget="_blank">
  <input type="hidden" name="threadId" value="{{threadId}}">
  <input type="hidden" name="generateLayerId" value="{{generateLayerId}}">
  <input type="hidden" name="annotationLayerId" value="{{annotationLayerId}}">
  <input type="hidden" name="phoneAlignmentLayerId" value="{{phoneAlignmentLayerId}}">
  <input type="hidden" name="tokenLayerId" value="{{tokenLayerId}}">
  <input type="hidden" name="collection_name" value="{{name}}">
  <input type="hidden" name="seriesId" value="{{task.seriesId}}">
  <input type="hidden" name="zeropad" value="{{zeroPad}}">
  <input type="hidden" name="targetOffset" value="{{targetOffset}}">
  <input #todo type="hidden" name="todo" value="">
  <div id="check-all-top">
    
    <label *ngIf="!task.csv"
      i18n-title title="Select all results, including those not shown here">
      <input type="checkbox" [(checked)]="selectAll" (change)="all()">
      <span i18n="select all results">Select all results</span>
      ({{matchCount}})
    </label>
    <label *ngIf="task.csv"
      i18n-title title="It's not possible to select individual results for re-uploaded matches">
      <input type="checkbox" checked disabled>
      <span i18n="select all results">All results selected</span>
      ({{matchCount}})
    </label>
    
    <label i18n-title title="How much context to show before/after match"
           for="words_context"
           i18n="KWIC context selector label"> Context: </label>
    <select [(ngModel)]="wordsContext" name="words_context" id="words_context"
            (change)="onChangeWordsContext()"
            i18n-title title="How much context to show before/after match">
      <option value="1"  i18n="words context option">up to 1 word</option>
      <option value="5"  i18n="words context option">up to 5 words</option>
      <option value="10" i18n="words context option">up to 10 words</option>
      <option value="20" i18n="words context option">up to 20 words</option>
      <option value="0"  i18n="words context option">0 words</option>
      <option value="-1" i18n="words context option">the entire utterance</option>
    </select>
    
  </div>
  <div id="matches">
    <ng-container class="match" *ngFor="let match of matches; let m = index;">

      <div class="transcript-change" *ngIf="m == 0 || match.Transcript != matches[m-1].Transcript || match.Participant != matches[m-1].Participant">
        <span class="match-transcript">{{match.Transcript}}</span>
        <span class="match-participant">{{match.Participant}}</span>
      </div>

      <div class="match-number">
        {{matches.indexOf(match) + 1}}.
      </div>
      <div *ngIf="!task.csv" class="match-id">
        <lib-grouped-checkbox
          group="match"
          i18n-title title="To select individual results, untick 'select all N results'"
          name="utterance"
          value="{{match.MatchId}}"
          [checked]="match._selected" (checkedChange)="match._selected = !match._selected"
          [disabled]="selectAll"></lib-grouped-checkbox>
      </div>
      <div *ngIf="task.csv" class="match-id">
        <lib-grouped-checkbox
          group="match"
          i18n-title title="It's not possible to select individual results for re-uploaded matches"
          name="utterance"
          value="{{match.MatchId}}"
          [checked]="match._selected" (checkedChange)="match._selected = !match._selected"
          [disabled]="selectAll"></lib-grouped-checkbox>
      </div>
      <div class="preceding-context match-transcript">
        {{match.BeforeMatch}}
      </div>
      <div class="match-text match-transcript">
        <a href="{{transcriptUrl}}?transcript={{match.Transcript | urlEncode}}&amp;threadId={{threadId}}#{{matchHash(match)}}"
          i18n-title title="Open transcript"
          target="{{match.Transcript}}">
          {{match.Text}}
        </a>
      </div>
      <div class="following-context match-transcript">{{match.AfterMatch}}</div>
    </ng-container>
  </div>
  <div id="matches-footer">
      <span class="match-count">{{matches.length}} results shown</span>
      <lib-button (press)="moreMatches()" [processing]="moreLoading"
                  [disabled]="matchCount - matches.length <= 0"
                  i18n-title title="Show more results"
                  i18n-label label="{{min(pageLength, matchCount - matches.length)}} More Matches"
                  img="down-triangle.png" icon="▼"
                  >
      </lib-button>
      <lib-button (press)="allMatches()" [processing]="allLoading"
                  [disabled]="matchCount - matches.length <= 0"
                  i18n-title title="Show all results"
                  i18n-label label="{{matchCount - matches.length}} Remaining Matches"
                  img="down-double-triangle.png" icon="⏬"
                  >
      </lib-button>
    </div>
  <div id="check-all-bottom">
    <label *ngIf="!task.csv"
      i18n-title title="Select all results including those not shown here">
      <input type="checkbox" [(checked)]="selectAll" (change)="all()"             
             [disabled]="task.csv">
      <span i18n="select all results"
        [class.disabled]="task.csv">Select all results</span>
      ({{matchCount}})
    </label>
  </div>
  <div id="csv-export" class="controls">
    <lib-button (press)="exportCsv();" id="csv-export-btn"
                img="csv.svg" icon=",a,"
                i18n-title title="Export results to CSV"
                i18n-label label="CSV Export"></lib-button>
    <lib-button (press)="csvOptions();"
                img="down-triangle.png"
                [icon]="showCsvOptions ? '▲' : '▼'"
                [imgStyle]="showCsvOptions ? 'transform: rotate(180deg); transition: transform 0.25s linear;' : 'transition: transform 0.25s linear;'"
                i18n-title title="CSV export options"
                ></lib-button>
  </div>
  <div id="csv-export-options" class="{{showCsvOptions?'unhidden-panel':'hidden-panel'}}">
    <div id="csv-export-params">
      <div *ngIf="task.csv"
           i18n-title title="Whether to extract annotations about the matched token, or surrounding tokens"><label>
        <span i18n="targetOffset label">Extract data for:</span>
        <select id="targetOffset" name="targetOffset" [(ngModel)]="targetOffset">
          <option value="-1" i18n="targetOffset option">previous token on targeted layer</option>
          <option value="0" i18n="targetOffset option">matched token</option>
          <option value="1" i18n="targetOffset option">next token on targeted layer</option>
        </select>
      </label></div>
      <div i18n-title title="Which start/end times to include"><label>
        <span i18n="offsetThreshold label">Include annotation start/end times:</span>
        <select id="offsetThreshold" name="offsetThreshold" [(ngModel)]="offsetThreshold">
          <option value="none" i18n="offsetThreshold option">(never)</option>
          <option value="100" i18n="offsetThreshold option">only if manually aligned</option>
          <option value="50" i18n="offsetThreshold option">if manually or automatically aligned</option>
          <option value="0" i18n="offsetThreshold option">(always) if manually, automatically, or default aligned</option>
        </select>
      </label></div>
    </div>
    <fieldset>
      <legend i18n>CSV columns</legend>
      <div class="csv-checkboxes">
        <fieldset class="csv-options">
          <legend i18n="csv options title" class="header">Fields</legend>
          <label i18n-title title="Title of this LaBB-CAT database - always exported">
            <input type="checkbox" name="csv_option"
                   value="labbcat_title"
                   [checked]="precheckedCsvOptions.includes('labbcat_title')"
                   [disabled]="precheckedCsvOptions.includes('labbcat_title')">
            <input type="hidden" name="csv_option" value="labbcat_title"
                   *ngIf="precheckedCsvOptions.includes('labbcat_title')">
            <span i18n="csv options">Database title</span>
          </label>
          <label i18n-title title="This database's LaBB-CAT version">
            <input type="checkbox" name="csv_option"
                   value="labbcat_version"
                   [checked]="precheckedCsvOptions.includes('labbcat_version')">
            <span i18n="csv options">LaBB-CAT version</span>
          </label>
          <label i18n-title title="Version of the corpus data - always exported">
            <input type="checkbox" name="csv_option"
                   value="data_version"
                   [checked]="precheckedCsvOptions.includes('data_version')"
                   [disabled]="precheckedCsvOptions.includes('data_version')">
            <input type="hidden" name="csv_option" value="data_version"
                   *ngIf="precheckedCsvOptions.includes('data_version')">
            <span i18n="csv options">Data version</span>
          </label>
          <label i18n-title title="Identifier for this search - always exported">
            <input type="checkbox" name="csv_option"
                   value="collection_name"
                   [checked]="precheckedCsvOptions.includes('collection_name')"
                   [disabled]="precheckedCsvOptions.includes('collection_name')">
            <input type="hidden" name="csv_option"
                   value="collection_name"
                   *ngIf="precheckedCsvOptions.includes('collection_name')">
            <span i18n="csv options">Search name</span>
          </label>
          <label i18n-title title="Result number">
            <input type="checkbox" name="csv_option"
                   value="result_number"
                   [checked]="precheckedCsvOptions.includes('result_number')">
            <span i18n="csv options">Result number</span>
          </label>
          <label i18n-title title="Start time of the transcript relative to the beginning of the whole episode">
            <input type="checkbox" name="csv_option"
                   value="series_offset"
                   [checked]="precheckedCsvOptions.includes('series_offset')">
            <span i18n="csv options">Episode offset</span>
          </label>
          <label i18n-title title="End time of the transcript relative to the beginning of the whole episode">
            <input type="checkbox" name="csv_option"
                   value="series_length"
                   [checked]="precheckedCsvOptions.includes('series_length')">
            <span i18n="csv options">Episode length</span>
          </label>
          <label i18n-title title="Start time of the utterance relative to the beginning of the transcript">
            <input type="checkbox" name="csv_option"
                   value="line_time"
                   [checked]="precheckedCsvOptions.includes('line_time')">
            <span i18n="csv options">Line start</span>
          </label>
          <label i18n-title title="End time of the utterance relative to the beginning of the transcript">
            <input type="checkbox" name="csv_option" value="line_end_time"
                   [checked]="precheckedCsvOptions.includes('line_end_time')">
            <span i18n="csv options">Line end</span>
          </label>
          <label i18n-title title="Unique identifier for the match - always exported">
            <input type="checkbox" name="csv_option"
                   value="match"
                   [checked]="precheckedCsvOptions.includes('match')"
                   [disabled]="precheckedCsvOptions.includes('match')">
            <input type="hidden" name="csv_option" value="match"
                   *ngIf="precheckedCsvOptions.includes('match')">
            <span i18n="csv options">Match ID</span>
          </label>
          <label i18n-title title="URL for the match - always exported">
            <input type="checkbox" name="csv_option"
                   value="word_url"
                   [checked]="precheckedCsvOptions.includes('word_url')"
                   [disabled]="precheckedCsvOptions.includes('word_url')">
            <input type="hidden" name="csv_option"
                   value="word_url"
                   *ngIf="precheckedCsvOptions.includes('word_url')">
            <span i18n="csv options">URL</span>
          </label>
          <label i18n-title title="The transcription of the match and its surrounding context">
            <input type="checkbox" name="csv_option"
                   value="result_text"
                   [checked]="precheckedCsvOptions.includes('result_text')">
            <span i18n="csv options">Text</span>
          </label>
        </fieldset>
        <!-- TODO disable segment layer anchoring when segment is targeted -->
        <lib-layer-checkboxes
          name="csv_layer"
          includeCounts="true" 
          participant="true" transcript="true"
          span="true" phrase="true" word="true" segment="true"
          excludeMainParticipant="true" excludeTurn="true" excludeUtterance="true"
          includeAnchorSharing="true" excludeOptionsForLayerId="{{task.targetLayer}}"
          selected="{{selectedLayers}}"></lib-layer-checkboxes>
      </div>
    </fieldset>
  </div>
  <div id="emu-webapp" class="controls" *ngIf="emuWebApp">
    <lib-button (press)="emuWebapp();"
                img="emu.png" icon="eμ"
                i18n-label label="EMU WebApp"></lib-button>
    <lib-button (press)="emuOptions();"
                img="down-triangle.png"
                [icon]="showEmuOptions ? '▲' : '▼'"
                [imgStyle]="showEmuOptions ? 'transform: rotate(180deg); transition: transform 0.25s linear;' : 'transition: transform 0.25s linear;'"
                i18n-title title="EMU WebApp options"
                ></lib-button>
  </div>
  <div id="emu-options" class="{{showEmuOptions?'unhidden-panel':'hidden-panel'}}">
    <fieldset>
    <legend i18n>EMU WebApp Tiers</legend>
      <lib-layer-checkboxes name="emu_layer"
                            word="true" segment="true"
                            selected="{{emuLayers}}"></lib-layer-checkboxes>
    </fieldset>
  </div>
  <div id="serialize" class="controls">
    <lib-button (press)="serialize();"
                img="{{serializeImg}}" icon="📦"
                i18n-label label="Utterance Export"></lib-button>
    <lib-button (press)="serializationOptions();"
                img="down-triangle.png"
                [icon]="showSerializationOptions ? '▲' : '▼'"
                [imgStyle]="showSerializationOptions ? 'transform: rotate(180deg); transition: transform 0.25s linear;' : 'transition: transform 0.25s linear;'"
                i18n-title title="Utterance Export options"
                ></lib-button>
  </div>
  <div id="serialization-options" class="{{showSerializationOptions?'unhidden-panel':'hidden-panel'}}">
    <label>
      <span i18n>Export format</span>
      <select #mimetype name="mimeType"
              [(ngModel)]="mimeType"
              (change)="onChangeMimeType()"
              i18n-title title="Export format">
        <option *ngFor="let serializer of serializers"
                value="{{serializer.mimeType}}">{{serializer.name}}</option>
      </select>
    </label>
    <div i18n-title title="Prefix each exported file name with the match number"><label>
        <input name="prefix" type="checkbox" [checked]="prefixNames" (change)="togglePrefixNames()">
        <span i18n>Add prefixes to file names</span>
    </label></div>
    <div i18n-title title="Include a TextGrid tier that tags target annotation(s) in each file"><label>
      <input name="tag" type="checkbox"
        [checked]="mimeType == 'text/praat-textgrid'"
        [disabled]="mimeType != 'text/praat-textgrid'">
      <span i18n [class.disabled]="mimeType != 'text/praat-textgrid'">Include "target" tier</span>
    </label></div>
    <fieldset>
    <legend i18n>Layers to export</legend>
      <lib-layer-checkboxes name="layerId"
                            word="true" segment="true" phrase="true" excludeTurn="true"
                            selected="{{serializationLayers}}"></lib-layer-checkboxes>
    </fieldset>
  </div>
  <div id="export-audio" class="controls">
    <lib-button (press)="exportAudio();"
                img="audio.svg" icon="🔊"
                i18n-label label="Audio Export"></lib-button>
    <lib-button (press)="audioOptions();"
                img="down-triangle.png"
                [icon]="showAudioOptions ? '▲' : '▼'"
                [imgStyle]="showAudioOptions ? 'transform: rotate(180deg); transition: transform 0.25s linear;' : 'transition: transform 0.25s linear;'"
                i18n-title title="Audio Export options"
                ></lib-button>
  </div>
  <div id="audio-options" class="{{showAudioOptions?'short-unhidden-panel':'short-hidden-panel'}}">
    <div i18n-title title="Prefix each exported file name with the match number"><label>
        <input name="prefix" type="checkbox" [checked]="prefixNames" (change)="togglePrefixNames()">
        <span i18n>Add prefixes to file names</span>
    </label></div>
    <div *ngIf="task.csvColumns" id="audio-columns">
      <div class="header">Columns</div>
      <div i18n-title title="Column identifying the start time of the fragment"><label>
          <span i18n>Excerpt start time</span>
          <select name="startOffsetColumn" [(ngModel)]="startOffsetColumn">
            <option *ngFor="let column of task.csvColumns">{{column}}</option>
          </select>
      </label></div>
      <div i18n-title title="Column identifying the end time of the fragment"><label>
          <span i18n>Excerpt end time</span>
          <select name="endOffsetColumn" [(ngModel)]="endOffsetColumn">
            <option *ngFor="let column of task.csvColumns">{{column}}</option>
          </select>
      </label></div>
    </div>
  </div>
  <div *ngIf="!task.csv" id="dictionary" class="controls">
    <lib-button (press)="dictionary();"
                img="book.svg" icon="📕"
                i18n-label label="Dictionary Export"></lib-button>
    <lib-button (press)="dictionaryOptions();"
                img="down-triangle.png"
                [icon]="showDictionaryOptions ? '▲' : '▼'"
                [imgStyle]="showDictionaryOptions ? 'transform: rotate(180deg); transition: transform 0.25s linear;' : 'transition: transform 0.25s linear;'"
                i18n-title title="Dictionary options"
                ></lib-button>
  </div>
  <div *ngIf="task.csv" id="dictionary" class="controls">
    <lib-button (press)="dictionary();"
                [disabled]="true"
                img="book.svg" icon="📕"
                i18n-label label="Dictionary Export"
                i18n-title title="Dictionary Export (not possible with re-uploaded matches)"></lib-button>
    <lib-button (press)="dictionaryOptions();"
                [disabled]="true"
                img="down-triangle.png"
                icon="▼"
                i18n-title title="Dictionary options"
                ></lib-button>
  </div>
  <div id="dictionary-options" class="{{showDictionaryOptions?'unhidden-panel':'hidden-panel'}}">
    <label>
      <span i18n="layer for dictionary entries">Layer for entries</span>
      <select name="definitionLayerId"
              i18n-title title="Layer for definitions of dictionary entries">
        <option *ngFor="let layer of wordLayers"
                value="{{layer.id}}">
          <ng-container *ngIf="layer.id != 'orthography'">{{layer.id}}</ng-container>
          <ng-container *ngIf="layer.id == 'orthography'" i18n>[word list only]</ng-container>
        </option>
      </select>
    </label>
  </div>
  <div id="generate-layers" class="controls" *ngIf="user.roles.includes('edit') && generableLayers.length">
    <input #generate_layer type="hidden" name="generate_layer" value="">
    <div *ngFor="let layerId of generableLayers">
      <lib-button (press)="runAnnotator(layerId);"
                  img="cog.svg" icon="⚙"
                  i18n-title title="Generate"
                  label="{{layerId}}"></lib-button>
    </div>
  </div>
  <lib-keep-alive threadId="{{threadId}}"></lib-keep-alive>
</form>
