#matches {
    display: grid;
    width: auto;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    grid-template-columns: repeat(5, min-content);
}
#matches > * {
    white-space: nowrap;
}
.match-transcript {
    padding-top: 3px;
}
.transcript-change {
    grid-column: 2 / -1;
}
#matches-footer button {
    width: auto;
    padding: 4px;
}
#matches-footer * {
    padding: 4px;
}
.match {
}
.match > .match-id {
}
.match-participant {
    font-weight: bold;
}
.match-participant:before {
    content: " - ";
}
.preceding-context {
    text-align: right;
}
.match-text {
    background: yellow;
    text-align: center;
    font-weight: bold;
}
.following-context {
    text-align: left;
}
.csv-checkboxes {
    display: flex;
    flex-direction: column;
}
.csv-options {
    display: flex;
    flex-direction: column;
}
.csv-options label {
    white-space: nowrap;
}
lib-layer-checkboxes {
    display: flex;
    flex-direction: row;
}
.controls lib-button[label], label > span {
    min-width: 150px;
}
label > span {
    display: inline-block;
}
@media all and (min-width: 640px) {
    .csv-checkboxes {
        flex-direction: row;
    }
    lib-layer-checkboxes {
        flex-direction: column;
    }
}
