#file-chooser {
    min-width: 80vw;
}
#file-chooser label {
    padding-right: 5px;
}
#file-chooser label:after {
    content: ":";
}
#file-chooser details {
    padding-top: 5px;
}
details > .advanced {
    border: 1px solid silver;
    border-radius: 8px;
    padding: 10px;
}
details > .advanced > ul {
    padding-top: 5px;
    padding-inline-start: 29px;
}
details > .advanced li ul {
    padding-inline-start: 40px;
}
.header {
    padding-top: 10px;
    font-weight: bold;
}
.small {
    width: 60px;
}
.hz {
    width: 60px;
}

.regex {
    width: 50px;
}
.unhidden-panel, .long-unhidden-panel, details > .advanced {
    border: 1px solid silver;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 10px;
}
details[open] > div {
    animation-name: roll-down;
    animation-duration: 1s;
}
#samplePoints {
    text-align: center;
}
#fastTrackTimeStep:after {
    content: "s";
}
#rowCount {
    padding-left: 1ch;
}

.settings-sets, .alternatives {
    display: flex;
    flex-direction: column;
}
#advanced-formants > .settings-sets, #advanced-formants > .long-unhidden-panel {
    margin-left: 25px;
}
/* Praat custom script styles */
#customScript {
    width: 100%;
    min-height: 300px;
}
.praat-prelude, .praat-postlude, #customScript {
    font-size: 10pt;
}
.praat-comment {
    color: green;
}
.praat-line-disabled {
    color: green;
}
.praat-line-disabled:before {
    content: '#';
}
.praat-line-enabled:before {
    padding-left: 1ch;
}
#load-controls div {
    display: inline-block;
}
.disabled {
    color: silver;
}
.item > .viz {
    display: none;
}
fieldset {
    border: 1px solid silver;
    border-radius: 8px;
}
label[for=formantDifferentiateParticipants] {
    padding-right: 1ch;
}
label[for=formantOtherPattern] {
    padding-left: 1ch;
    padding-right: 1ch;
}
.settings-set .item > * {
    width: 50%;
    display: inline-block;
}
.settings-set.other .item > * {
    width: 50%;
    display: inline-block;
}
fieldset.other {
    animation-name: fade-right;
    animation-duration: 0.5s;
}
#load-controls {
    font-style: italic;
}
#load-controls label {
    padding-right: 10px;
}

.item > * {
    min-width: 25%;
    display: inline-block;
    vertical-align: top;
}
summary > label {
    min-width: 23.5%;
    display: inline-block;
}
summary > label > span {
    display: inline-block;
    width: fit-content;
    cursor: zoom-in;
}
details[open] > summary > label > span {
    cursor: zoom-out;
}

/* Layout on wider screens */
@media all and (min-width: 640px) {
    .item > .viz {
        width: 33vw;
        display: inline-table;
        padding: 0px;
        margin: 0px;
    }
    .item, .item > .viz {
        min-height: 25px;
        display: flex;
    }
    .item > .script {
        width: 50%;
    }
    .item > .long {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    .label-spacer {
        flex-grow: 1;
    }
    lib-link[target=FastTrack] {
        padding-left: 1em;
    }
    .script input {
        width: 100%;
    }
    .viz > div {
        display: table-cell;
        white-space: nowrap;
        padding: 0px;
        margin: 0px;
    }
    .viz .before {
        width: 10%;    
    }
    .viz .before-context {
        width: 20%;
    }
    .viz .segment {
        width: 40%;
        background-color: rgba(150,163,57,0.2);
    }
    .viz .after-context {
        width: 20%;
    }
    .viz .after {
        width: 10%;
    }
    
    .r { float: right; white-space: nowrap; }
    .l { float: left; white-space: nowrap; }
    
    .viz .before {
        background: linear-gradient(to right, rgba(255, 255, 255,1), transparent);
    }
    .viz .after {
        background: linear-gradient(to left, rgba(255, 255, 255,1), transparent);
    }
    .viz .before-context, .viz .after-context {
        background-color: rgba(200,200,200,0.3);
    }
    #start-time .segment {
        border-left: solid black 1px;
        background: linear-gradient(to right, rgba(150,163,57,1), rgba(200,200,200,0.3));
    }
    #end-time .segment {
        border-right: solid black 1px;
        background: linear-gradient(to left, rgba(150,163,57,1), rgba(200,200,200,0.3));
    }
    #window-offset .before-context, #window-offset .after-context {
        border-left: solid black 1px;
        border-right: solid black 1px;
        background-color: rgba(200,200,200,0.7);
        text-align: center;
        font-size: 9pt;
    }
    #advanced-formants .segment {
        /* positioned so that sample-point is relative to this */
        position: relative; 
        left: 0px;
    }
    #advanced-formants .sample-point {
        /* each sample point has its left position set to a percentage */
        position: absolute;
        font-weight: bold;
    }
    #advanced-formants .sample-point span {
        /* we want the centre of the arrow lining up with the percentage, 
           so shift it left a little */
        position: relative;
        left: -0.5ch;
    }
    .item input, .item select {
        /* ensure that, on narrow windows, the visualization doesn't obscure any controls */
        position: relative;
        z-index: 2;
    }
    .settings-sets, .alternatives {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        padding-bottom: 4px;
    }
    .alternatives legend, .settings-set legend label {
        white-space: nowrap;
    }
    .settings-set.other > .item > label {
        display: none;
    }
    .settings-sets { /* this is relative so that .except can be positioned relative to it */
        position: relative;
    }
    .except { /* move up above the first other setting */
        position: absolute;
        top: 0.5em;
        left: 25%;
    }
    .alternatives {
        width: 77%;
    }
    .settings-set.default {
        width: 23%;
        min-width: 250px;
        padding-bottom: 15px;
    }
    .settings-set.default > div > label {
        width: 60%;
    }
    .settings-set.default > div > span {
        width: 35%;
    }
}
