<div class="layer-checkboxes-container">
<lib-layer-checkboxes
  name="layer" includeAlignment="true" spoofAlignment="true"
  includeDataType="true" includeVerticalPeers="true"
  span="true" phrase="true" word="true" segment="true"
  excludeMainParticipant="true" 
  category="true"
  [(selected)]="selectedLayerIds"
  (selectedChange)="syncSelectedLayerIdsWithColumns($event)"
  (click)="hideHelper();"></lib-layer-checkboxes>
</div>

<div class="columns"
     (click)="hideHelper();">
  <div class="column" *ngFor="let column of columns; index as c">
    <div class="layers">
      <fieldset *ngFor="let layerId of selectedLayerIds"
                class="layer layer-{{layerId}} parent-{{schema.layers[layerId].parentId}}"
                [class.spanning]="isSpanningLayer(schema.layers[layerId])"
                [class.anchor-start]="column.layers[layerId][0].anchorStart"
                [class.anchor-end]="column.layers[layerId][column.layers[layerId].length-1].anchorEnd"
                title="{{schema.layers[layerId].description}}">
        <legend>
          <span *ngIf="isTargetableLayer(schema.layers[layerId])"
                class="target"
                i18n-title title="Target this match">
            <img
              i18n-title title="Target this match"
              alt="🎯" [src]="imagesLocation+'/target.svg'"
              [class]="column.layers[layerId][0].target?'selected':'deselected'"
              (click)="setTarget(column.layers[layerId][0])">
          </span>
          {{layerId}}
        </legend>
        <div class="layer">
          <span *ngIf="isAnchorableLayer(schema.layers[layerId])"
                i18n-title title="Anchor to start of {{schema.wordLayerId}}"
                class="anchor-start"> <!-- first match in column -->
            <img [src]="imagesLocation+'/lock-'+(column.layers[layerId][0].anchorStart?'locked':'unlocked')+'.svg'"
                 [alt]="column.layers[layerId][0].anchorStart?'🔒':'🔓'"
                 (click)="column.layers[layerId][0].anchorStart = !column.layers[layerId][0].anchorStart"
                 >
          </span>
          <div class="match" *ngFor="let match of column.layers[layerId]; index as m">
            <span *ngIf="isSegmentLayer(schema.layers[layerId])"
                  class="target segment"
                  i18n-title title="Target this match">
              <img
                i18n-title title="Target this match"
                alt="🎯" [src]="imagesLocation+'/target.svg'"
                [class]="column.layers[layerId][m].target?'selected':'deselected'"
                (click)="setTarget(column.layers[layerId][m])">
            </span>
            <ng-container
              *ngIf="layerId != schema.turnLayerId && layerId != schema.utteranceLayerId"
              [ngSwitch]="schema.layers[layerId].type">

              <span *ngSwitchCase="'number'" class="numeric">
                <span className="ge">&ge;</span>
                <input
                  class="numeric minimum"
                  type="number"
                  i18n-placeholder placeholder="Minimum"                  
                  [(ngModel)]="match.min"
                  appAutofocus="true"
                  (keydown.enter)="startSearch($event)">
                <span className="lt">&lt;</span>
                <input
                  class="numeric maximum"
                  type="number"
                  i18n-placeholder placeholder="Maximum"
                  [(ngModel)]="match.max"
                  (keydown.enter)="startSearch($event)">
              </span>

              <span *ngSwitchCase="'ipa'" class="ipa">
                <span class="not">
                  <select class="not"
                          i18n-title title="match or not"
                          [value]="match.not" (change)="match.not = $event.target.value == 'true'">
                    <option value="false" i18n>matches</option>
                    <option value="true" i18n>doesn't match</option>
                  </select>
                </span>
                <span class="match">
                  <lib-input-regexp
                    *ngIf="isCaseSensitive(match)"
                    i18n-placeholder placeholder="Regular expression (A≠a)"
                    i18n-title title="Regular expression (case sensitive)"
                    type="text"
                    [(value)]="match.pattern"
                    autofocus="true"
                    id="regexp-{{c}}-{{layerId}}-{{m}}"
                    (keydown.enter)="startSearch($event)"></lib-input-regexp>
                  <lib-input-regexp
                    *ngIf="!isCaseSensitive(match)"
                    i18n-placeholder placeholder="Regular expression (A=a)"
                    i18n-title title="Regular expression (case sensitive)"
                    type="text"
                    [(value)]="match.pattern"
                    autofocus="true"
                    id="regexp-{{c}}-{{layerId}}-{{m}}"
                    (keydown.enter)="startSearch($event)"></lib-input-regexp>
                </span>
                <span class="help">
                  <lib-button
                    i18n-title title="Phoneme symbol selector"
                    class="small"
                    icon="«" [img]="helperMatch == match?'collapse-down.svg':'expand-down.svg'"
                    (press)="helperMatch = (helperMatch == match?null:match); $event.stopPropagation();"></lib-button>
                  <lib-disc-helper
                    *ngIf="!hasValidLabels(schema.layers[layerId]) && helperMatch == match"
                    (symbolSelected)="appendToPattern(match, $event, 'regexp-'+c+'-'+layerId+'-'+m)"></lib-disc-helper>
                  <lib-valid-label-helper
                    *ngIf="hasValidLabels(schema.layers[layerId]) && helperMatch == match"
                    regularExpression="{{true}}"
                    [layer]="schema.layers[layerId]"
                    (symbolSelected)="appendToPattern(match, $event, 'regexp-'+c+'-'+layerId+'-'+m)"></lib-valid-label-helper>
                </span>
              </span>

              <span *ngSwitchDefault class="regexp">
                <span class="not">
                  <select class="not"
                          i18n-title title="match or not"                          
                          [value]="match.not" (change)="match.not = $event.target.value == 'true'">
                    <option value="false" i18n>matches</option>
                    <option value="true" i18n>doesn't match</option>
                  </select>
                </span>
                <span class="match">
                  <lib-input-regexp
                    *ngIf="isCaseSensitive(match)"
                    i18n-placeholder placeholder="Regular expression (A≠a)"
                    i18n-title title="Regular expression (case sensitive)"
                    type="text" className="string"
                    [(value)]="match.pattern"
                    autofocus="true"
                    id="regexp-{{c}}-{{layerId}}-{{m}}"
                    (keydown.enter)="startSearch($event)"></lib-input-regexp>
                  <lib-input-regexp
                    *ngIf="!isCaseSensitive(match)"
                    i18n-placeholder placeholder="Regular expression (A=a)"
                    i18n-title title="Regular expression (case insensitive)"
                    type="text" className="string"
                    [(value)]="match.pattern"
                    autofocus="true"
                    id="regexp-{{c}}-{{layerId}}-{{m}}"
                    (keydown.enter)="startSearch($event)"></lib-input-regexp>
                </span>
                <span class="help" *ngIf="hasValidLabels(schema.layers[layerId])">
                  <lib-button
                    i18n-title title="Symbol selector"
                    class="small"
                    icon="«" [img]="helperMatch == match?'collapse-down.svg':'expand-down.svg'"
                    (press)="helperMatch = (helperMatch == match?null:match); $event.stopPropagation();"></lib-button>
                  <lib-valid-label-helper
                    *ngIf="helperMatch == match"
                    regularExpression="{{true}}"
                    [layer]="schema.layers[layerId]"
                    (symbolSelected)="appendToPattern(match, $event, 'regexp-'+c+'-'+layerId+'-'+m)"></lib-valid-label-helper>
                </span>
              </span>

            </ng-container> <!-- switch on layer.type -->
          </div>    <!-- match -->
          
          <div class="add-match"
               *ngIf="layerId == 'segment' || schema.layers[layerId].parentId == 'segment'">
            <lib-button
              i18n-title title="Add word-internal segment pattern"
              class="small"
              icon="➕" img="add.svg"
              (press)="addMatch(column, layerId)"></lib-button>
            <lib-button
              *ngIf="column.layers[layerId].length > 1"
              class="small"
              icon="➖" img="remove.svg"
              i18n-title title="Remove word-internal segment pattern"
              (press)="removeMatch(column, layerId)"></lib-button>
          </div>
          <span *ngIf=isAnchorableLayer(schema.layers[layerId])
                i18n-title title="Anchor to end of {{schema.wordLayerId}}"
                class="anchor-end"> <!-- last match in column -->
            <img [src]="imagesLocation+'/lock-'+(column.layers[layerId][column.layers[layerId].length-1].anchorEnd?'locked':'unlocked')+'.svg'"
                 [alt]="column.layers[layerId][column.layers[layerId].length-1].anchorEnd?'🔒':'🔓'"
                 (click)="column.layers[layerId][column.layers[layerId].length-1].anchorEnd = !column.layers[layerId][column.layers[layerId].length-1].anchorEnd"
                 >
          </span>
        </div>     <!-- layer -->
      </fieldset> <!-- layerId -->
    </div>  <!-- layers -->
    <div class="adj" *ngIf="c < columns.length - 1">
      <span i18n="'followed' n words later by...">followed</span>
      <select i18n-title title="Distance between matches"
              [(ngModel)]="column.adj">
        <option value="1" i18n="followed 'immediately' by...">immediately</option>
        <option value="2" i18n="followed '1 word later' by...">1 word later</option>
        <option value="3" i18n="followed '2 words later' by...">2 words later</option>
      </select>
      <span i18n="followed n words later 'by'...">by</span>
    </div>
    <div class="add-column"*ngIf="c == columns.length - 1">
      <lib-button
        i18n-title title="Make the search one word wider"
        icon="➕" img="add.svg"
        (press)="addColumn()"></lib-button>
      <lib-button
        *ngIf="c > 0"
        icon="➖" img="remove.svg"
        i18n-title title="Make the search one word narrower"
        (press)="removeColumn()"></lib-button>
    </div>
  </div> <!-- column -->
</div> <!-- columns -->
