#dictionary-panel {
    display: flex;
    flex-direction: column;
    
}
.missing-annotations {
    display: grid;
    width: auto;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    grid-template-columns: repeat(5, min-content);
}
fieldset.lookup {
    white-space: nowrap;
    grid-column: 2 / -1;
    animation-name: fade-down;
    animation-duration: 500ms;
}
.lookup h3 {
    font-size: 12pt;
}
.no-matches:before { content: "["; }
.no-matches:after { content: "]"; }
app-disc-helper {
    grid-column: 3 / -1;
}
app-wait.row-pending { /* never taller than the row */
    height: 30px;
}
span.spinner {
    width: 30px;
}
.missing-annotations > .buttons {
    grid-column: 4 / -1;
}
.lookup button { /* ensure phonemic button labels aren't capitalized */
    text-transform: none; 
}
/* Layout on wider screens */
@media all and (min-width: 640px) {
    #dictionary-panel {
        display: flex;
        flex-direction: row;
        
    }
}
