<h1 id="title">
  <span i18n="page header">Participant attributes</span>
  <span *ngIf="participant" class="participant">{{participant.label}}</span>
</h1>
<lib-wait *ngIf="!participant"></lib-wait>
<div *ngIf="participant" id="attributes" class="attribute-list tabs">
  <div
    *ngIf="categoryLabels.length > 1"
    class="tab-labels">
    <label *ngFor="let category of categoryLabels"
           [ngClass]="(category==currentCategory)?'tab-label active':'tab-label inactive'"
           (click)="currentCategory = category"
           title="{{categories[category].description}}">
      {{category.replace("participant_","")}}
    </label>
  </div>
  <div *ngFor="let category of categoryLabels"
       [ngClass]="(category==currentCategory)?'attribute-list tab-body active':'attribute-list tab-body inactive'">
      <div *ngFor="let layer of categoryLayers[category]" class="attribute">
        <label for="{{layer.id}}" title="{{layer.hint}}">{{layer.description}}<span class="layer-name" [style.display]="displayLayerIds ? 'inline' : 'none'"> (<span class="layer-id">{{displayAttributePrefixes ? layer.id : ParticipantLayerLabel(layer.id)}}</span>)</span></label>
        <span *ngIf="participant.annotations && participant.annotations[layer.id]"
              id="{{layer.id}}" class="values">
          <div *ngFor="let annotation of participant.annotations[layer.id]" class="value">
            <span class="label" i18n-title="Annotated by ANNOTATOR on DATE" title="Annotated by {{annotation.annotator}} on {{annotation.when | date:'medium'}}">
              <ng-container *ngIf="layer.subtype != 'url'">{{annotation.label}}</ng-container>
              <a *ngIf="layer.subtype == 'url'" target="{{layer.id}}"
                 href="{{annotation.label}}">{{annotation.label}}</a>
            </span>
            <ng-container *ngIf="layer.type == 'boolean'">
              <span *ngIf="annotation.label == '1'" class="description" i18n>true</span>
              <span *ngIf="annotation.label == '0'" class="description" i18n>false</span>
            </ng-container>
            <ng-container *ngIf="layer.validLabels[annotation.label] && layer.validLabels[annotation.label] != annotation.label">
              <span class="description">{{layer.validLabels[annotation.label]}}</span>
            </ng-container>
          </div>
        </span>
      </div>
      <div id="controls">
        <div class="label-spacer">
          <label id="toggleLayerIds" i18n-title title="Show attribute names">
            <input type="checkbox" name="toggleLayerIds" [checked]="displayLayerIds" (change)="toggleLayerIds()">
            <span i18n> Show attribute names</span>
          </label>
        </div>
        <div class="label-spacer">
          <label
            [class.disabled]="!displayLayerIds"
            i18n-title title="Show full names for attributes">
            <input
              type="checkbox"
              [checked]="displayAttributePrefixes"
              [disabled]="!displayLayerIds"
              (change)="toggleAttributePrefixes()">
            <span i18n> Show attribute prefixes</span></label>
        </div>
      </div>
    </div>
</div>
<div *ngIf="participant" class="links">
  <lib-link
    [routerLink]="['..','transcripts']"
    [queryParams]="{transcript_expression:'labels(&quot;participant&quot;).includes(&quot;'+participant.label+'&quot;)', transcripts:'Transcripts including ' + participant.label}"
    img="document.svg" icon="🗎"
    i18n-label label="Transcripts"
    i18n-title title="List transcripts that include this participant"></lib-link>
  <lib-link
    href="{{baseUrl}}allUtterances?id={{participant.label}}"
    img="all-utterances.svg" icon="“"
    i18n-label label="All Utterances"
    i18n-title title="List all utterances by these participants"
    ></lib-link>
</div>
