@import url("../skin/classic/style.css");
@import url("../local.css");
body, #main {
    display: flex;
    flex-direction: column;
}
body > header, body > footer, #main > article, #main > nav, #main > aside {
    /* Return them to document order */
    order: 0;
}
header, footer {
    display: block;
}
#main > article {
    margin: auto;
    width: 100%;
}
#main > nav details {
    padding-left: 10px;
}
#main > nav div {
    padding-left: 20px;
}
#main > nav span {
    float: right;
    cursor: default;
}
.current > a {
    font-weight: bold;
}
header, footer, aside {
    text-align: center;
}
aside > button > img {
    height: 20px;
}
/* Wide enough to support three columns */
@media all and (min-width: 640px) {
    #main { flex-direction: row; }
    #main > nav     { order: 1; }
    #main > article { order: 2; }
    #main > aside   { order: 3; }
    
    #main > nav {
        text-align: left;
        min-width: 20%;
    }
    #main > aside {
        text-align: left;
        min-width: 50px;
    }
    #main > article {
        padding: 20px;
        width: 70%;
    }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
.loading {
    z-index: 2;
    cursor: wait;
    background: white;
    opacity: 0.5;
}
.loading:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #859044;
  animation: spinner .6s linear infinite;
}

.utterance {
    padding: 10px;
    margin: 1em 0;    
    background: rgba(133, 144, 68, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.utterance-audio {
    margin: 5px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
}
.utterance-description {
    padding: 10px;
    margin: 5px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 10px;
}
